In [128]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (29, 10)
plt.style.use('ggplot')
import seaborn as sns


from sklearn.model_selection import train_test_split


%matplotlib inline
plt.rcParams['axes.unicode_minus'] = False

from scipy import stats
from scipy.stats import norm

from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

import datetime as dt
from time import time


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier
from sklearn.naive_bayes import GaussianNB
from lightgbm import LGBMClassifier
from sklearn.neural_network import MLPClassifier

from sklearn.ensemble import GradientBoostingClassifier, AdaBoostClassifier
from sklearn.linear_model import SGDClassifier

from sklearn.model_selection import GridSearchCV

from sklearn.decomposition import PCA

from sklearn.metrics import make_scorer, fbeta_score, accuracy_score, f1_score
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import LabelEncoder
import category_encoders as ce
    


import warnings
warnings.filterwarnings('ignore')


from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.metrics import roc_auc_score

In [129]:
df_train = pd.read_csv('Train.csv').fillna(-9999)
df_test = pd.read_csv('Test.csv').fillna(-9999)

In [130]:
df_train.head()

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target
0,ID_0040R73,2010-05-14,2011-05-13,Male,30,2010-05-14,1,Saloon,Black,TOYOTA,-9999,-9999,Car Classic,0
1,ID_0046BNK,2010-11-29,2011-11-28,Female,79,2010-11-29,1,JEEP,Grey,TOYOTA,-9999,-9999,Car Classic,1
2,ID_005QMC3,2010-03-21,2011-03-20,Male,43,2010-03-21,1,Saloon,Red,TOYOTA,-9999,-9999,Car Classic,0
3,ID_0079OHW,2010-08-21,2011-08-20,Male,2,2010-08-21,1,-9999,-9999,-9999,-9999,-9999,CarSafe,0
4,ID_00BRP63,2010-08-29,2010-12-31,Entity,20,2010-08-29,3,-9999,-9999,-9999,Lagos,Lagos,Muuve,1

In [131]:
df_test.head()

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName
0,ID_01QM0NU,2010-10-23,2011-10-22,Female,46,2010-10-23,1,-9999,-9999,Ford,Abuja Municipal,Abuja-Municipal,Car Classic
1,ID_024NJLZ,2010-10-14,2011-10-13,Male,32,2010-10-14,1,-9999,-9999,-9999,Kosofe,Benue,Car Classic
2,ID_02NOVWQ,2010-08-29,2011-08-28,Female,45,2010-08-29,2,Saloon,Black,Honda,Wuse 11,Abuja,Car Classic
3,ID_02VSP68,2010-06-13,2011-06-12,Female,58,2010-06-13,1,Saloon,-9999,TOYOTA,-9999,-9999,CarSafe
4,ID_02YB37K,2010-07-01,2011-06-30,-9999,120,2010-07-01,1,Saloon,Red,Hyundai,Victoria Island,Lagos,Car Classic

### Data Preprocessing

In [132]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12079 entries, 0 to 12078
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      12079 non-null  object
 1   Policy Start Date       12079 non-null  object
 2   Policy End Date         12079 non-null  object
 3   Gender                  12079 non-null  object
 4   Age                     12079 non-null  int64
 5   First Transaction Date  12079 non-null  object
 6   No_Pol                  12079 non-null  int64
 7   Car_Category            12079 non-null  object
 8   Subject_Car_Colour      12079 non-null  object
 9   Subject_Car_Make        12079 non-null  object
 10  LGA_Name                12079 non-null  object
 11  State                   12079 non-null  object
 12  ProductName             12079 non-null  object
 13  target                  12079 non-null  int64
dtypes: int64(3), object(11)
memory usage: 1.3+ MB

In [133]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1202 entries, 0 to 1201
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      1202 non-null   object
 1   Policy Start Date       1202 non-null   object
 2   Policy End Date         1202 non-null   object
 3   Gender                  1202 non-null   object
 4   Age                     1202 non-null   int64
 5   First Transaction Date  1202 non-null   object
 6   No_Pol                  1202 non-null   int64
 7   Car_Category            1202 non-null   object
 8   Subject_Car_Colour      1202 non-null   object
 9   Subject_Car_Make        1202 non-null   object
 10  LGA_Name                1202 non-null   object
 11  State                   1202 non-null   object
 12  ProductName             1202 non-null   object
dtypes: int64(2), object(11)
memory usage: 122.2+ KB

In [134]:
print("The training set has {} rows and {} columns.".format(*df_train.shape))
print("The test set has {} rows and {} columns.".format(*df_test.shape))

The training set has 12079 rows and 14 columns.
The test set has 1202 rows and 13 columns.

In [135]:
# Missing values in the training set
count = df_train.isnull().sum().sort_values(ascending=False)
percent = (df_train.isnull().sum() / len(df_train) * 100).sort_values(ascending=False)
missing_values_train = pd.concat([count, percent], keys=['Count', 'Percent'],axis=1)
missing_values_train

                        Count  Percent
target                      0      0.0
ProductName                 0      0.0
State                       0      0.0
LGA_Name                    0      0.0
Subject_Car_Make            0      0.0
Subject_Car_Colour          0      0.0
Car_Category                0      0.0
No_Pol                      0      0.0
First Transaction Date      0      0.0
Age                         0      0.0
Gender                      0      0.0
Policy End Date             0      0.0
Policy Start Date           0      0.0
ID                          0      0.0

In [136]:
# Missing values in the test set
count = df_test.isnull().sum().sort_values(ascending=False)
percent = (df_test.isnull().sum() / len(df_test) * 100).sort_values(ascending=False)
missing_values_test = pd.concat([count, percent], keys=['Count', 'Percent'],axis=1)
missing_values_test

                        Count  Percent
ProductName                 0      0.0
State                       0      0.0
LGA_Name                    0      0.0
Subject_Car_Make            0      0.0
Subject_Car_Colour          0      0.0
Car_Category                0      0.0
No_Pol                      0      0.0
First Transaction Date      0      0.0
Age                         0      0.0
Gender                      0      0.0
Policy End Date             0      0.0
Policy Start Date           0      0.0
ID                          0      0.0

### Combine Training set and Test set for easy preprocessing
- Combine the dataframes
- convert to appropriate datatypes
- Fill missing values
- Standardize columns and rows data
- Explore variables

In [137]:
df_train.shape

(12079, 14)

In [138]:
df_test.shape

(1202, 13)

In [139]:
training_data = df_train.shape[0] # rows of training data
df_combined = pd.concat([df_train, df_test]).reset_index(drop=True)
print('df_comined (training set and test set), now has {} rows and {} columns.'.format(*df_combined.shape))

df_comined (training set and test set), now has 13281 rows and 14 columns.

In [140]:
df_train.shape[0]

12079

In [141]:
df_combined

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target
0,ID_0040R73,2010-05-14,2011-05-13,Male,30,2010-05-14,1,Saloon,Black,TOYOTA,-9999,-9999,Car Classic,0.0
1,ID_0046BNK,2010-11-29,2011-11-28,Female,79,2010-11-29,1,JEEP,Grey,TOYOTA,-9999,-9999,Car Classic,1.0
2,ID_005QMC3,2010-03-21,2011-03-20,Male,43,2010-03-21,1,Saloon,Red,TOYOTA,-9999,-9999,Car Classic,0.0
3,ID_0079OHW,2010-08-21,2011-08-20,Male,2,2010-08-21,1,-9999,-9999,-9999,-9999,-9999,CarSafe,0.0
4,ID_00BRP63,2010-08-29,2010-12-31,Entity,20,2010-08-29,3,-9999,-9999,-9999,Lagos,Lagos,Muuve,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13276,ID_ZTTHC5X,2010-12-05,2011-12-04,Male,67,2010-12-05,2,JEEP,Black,TOYOTA,Victoria Island,Lagos,Car Classic,NaN
13277,ID_ZUJAFUP,2010-01-14,2011-01-13,Male,43,2010-01-14,1,Saloon,Silver,Hyundai,Surulere,Lagos,Car Classic,NaN
13278,ID_ZWHCTUM,2010-07-26,2011-07-25,Male,30,2010-07-26,1,Truck,White,Iveco,Victoria Island,Lagos,CVTP,NaN
13279,ID_ZWQRL8L,2010-02-16,2011-02-15,Male,44,2010-02-16,2,Saloon,-9999,Nissan,Aba North,Aba-North,Car Classic,NaN
13280,ID_ZWZ92GU,2010-03-18,2011-03-17,Male,28,2010-03-18,1,Saloon,Silver,TOYOTA,-9999,-9999,Car Classic,NaN

In [142]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13281 entries, 0 to 13280
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      13281 non-null  object
 1   Policy Start Date       13281 non-null  object
 2   Policy End Date         13281 non-null  object
 3   Gender                  13281 non-null  object
 4   Age                     13281 non-null  int64
 5   First Transaction Date  13281 non-null  object
 6   No_Pol                  13281 non-null  int64
 7   Car_Category            13281 non-null  object
 8   Subject_Car_Colour      13281 non-null  object
 9   Subject_Car_Make        13281 non-null  object
 10  LGA_Name                13281 non-null  object
 11  State                   13281 non-null  object
 12  ProductName             13281 non-null  object
 13  target                  12079 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.4+ MB

#### Convert to appropriate data types

In [143]:
# dates
date_columns = [col for col in df_combined.columns if "Date" in col]
for col in date_columns:
    df_combined[col] = pd.to_datetime(df_combined[col])

#### Fill in missing values

In [144]:
df_combined['LGA_Name'] = df_combined['LGA_Name'].apply(lambda x: 'Victoria Island' if x=='LGA' else x)

In [145]:
df_combined[['LGA_Name','State']]

              LGA_Name      State
0                -9999      -9999
1                -9999      -9999
2                -9999      -9999
3                -9999      -9999
4                Lagos      Lagos
...                ...        ...
13276  Victoria Island      Lagos
13277         Surulere      Lagos
13278  Victoria Island      Lagos
13279        Aba North  Aba-North
13280            -9999      -9999

[13281 rows x 2 columns]

In [146]:
df_combined

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target
0,ID_0040R73,2010-05-14,2011-05-13,Male,30,2010-05-14,1,Saloon,Black,TOYOTA,-9999,-9999,Car Classic,0.0
1,ID_0046BNK,2010-11-29,2011-11-28,Female,79,2010-11-29,1,JEEP,Grey,TOYOTA,-9999,-9999,Car Classic,1.0
2,ID_005QMC3,2010-03-21,2011-03-20,Male,43,2010-03-21,1,Saloon,Red,TOYOTA,-9999,-9999,Car Classic,0.0
3,ID_0079OHW,2010-08-21,2011-08-20,Male,2,2010-08-21,1,-9999,-9999,-9999,-9999,-9999,CarSafe,0.0
4,ID_00BRP63,2010-08-29,2010-12-31,Entity,20,2010-08-29,3,-9999,-9999,-9999,Lagos,Lagos,Muuve,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13276,ID_ZTTHC5X,2010-12-05,2011-12-04,Male,67,2010-12-05,2,JEEP,Black,TOYOTA,Victoria Island,Lagos,Car Classic,NaN
13277,ID_ZUJAFUP,2010-01-14,2011-01-13,Male,43,2010-01-14,1,Saloon,Silver,Hyundai,Surulere,Lagos,Car Classic,NaN
13278,ID_ZWHCTUM,2010-07-26,2011-07-25,Male,30,2010-07-26,1,Truck,White,Iveco,Victoria Island,Lagos,CVTP,NaN
13279,ID_ZWQRL8L,2010-02-16,2011-02-15,Male,44,2010-02-16,2,Saloon,-9999,Nissan,Aba North,Aba-North,Car Classic,NaN
13280,ID_ZWZ92GU,2010-03-18,2011-03-17,Male,28,2010-03-18,1,Saloon,Silver,TOYOTA,-9999,-9999,Car Classic,NaN

In [147]:
# Gender 
'''
We will have categories Male, Female, and Other. Let's get on with it.
'''
mapper = {
    'Male': 'Male',
    'Female': 'Female',
    'Entity': 'Other',
    'Joint Gender': 'Other',
    'NOT STATED': 'Other',
    'NO GENDER': 'Other',
    'SEX': 'Other',
    -9999: -9999
}

df_combined['Gender'] = df_combined['Gender'].apply(lambda x: mapper[x])

'''
I will then replace the missing values with the most frequent Gender which is Male
'''
df_combined['Gender'].fillna('Male', inplace=True)

In [148]:
df_combined['Gender'].value_counts()

Male      8356
Female    3679
Other      846
-9999      400
Name: Gender, dtype: int64

In [149]:
# Check missing values
df_combined.isnull().sum() # Hoorah! No missing values

ID                           0
Policy Start Date            0
Policy End Date              0
Gender                       0
Age                          0
First Transaction Date       0
No_Pol                       0
Car_Category                 0
Subject_Car_Colour           0
Subject_Car_Make             0
LGA_Name                     0
State                        0
ProductName                  0
target                    1202
dtype: int64

#### Feature Engineering
- Extract information from other columns in the dataset

In [150]:
# date_columns = ['Policy Start Date', 'Policy End Date', 'First Transaction Date']
# date_extractions = ['year', 'dayofyear', 'month', 
#                     'days_in_month', 'day', 'dayofweek', 
#                     'weekofyear', 'quarter',  'week', 
#                     'is_quarter_start', 'is_quarter_end', 'is_month_start', 
#                     'is_month_end', 'is_year_start', 'is_year_end']
# for col in date_columns:
#     for feature in date_extractions:
#         df_combined[col+"_"+feature] = getattr(df_combined[col].dt, feature)

        
# # get weekend 0, 1 (1=weekend, 0=not weekend)
# for col in date_columns:
#     df_combined[col+"_"+'weekend'] = np.where((df_combined[col].dt.day_name()).isin(['Sunday','Saturday']), 1, 0)
    
    
    
###################################################################################################################################### 
import holidays
nigeria_holidays = holidays.Nigeria()

date_columns = ['Policy Start Date', 'Policy End Date', 'First Transaction Date']
date_extractions = ['year', 'dayofyear', 'month', 
                    'days_in_month', 'day', 'dayofweek', 
                    'weekofyear', 'quarter', 
                    'is_quarter_start', 'is_quarter_end', 'is_month_start', 
                    'is_month_end', 'is_year_start', 'is_year_end']
for col in date_columns:
    for feature in date_extractions:
        df_combined[col+"_"+feature] = getattr(df_combined[col].dt, feature)

        
# get weekend 0, 1 (1=weekend, 0=not weekend)
for col in date_columns:
    df_combined[col+"_"+'weekend'] = np.where((df_combined[col].dt.day_name()).isin(['Sunday','Saturday']), 1, 0) # try without
    # New
    df_combined[col+'_days_remaining_month_end'] = df_combined[col].dt.days_in_month - df_combined[col].dt.day
    df_combined[col+'_days_remaining_year_end'] = 365 - df_combined[col].dt.dayofyear
    # Holiday Names    
    df_combined[col+"_holiday"] = df_combined[col].apply(lambda x: nigeria_holidays.get(x)) #try without

#  policy duration
# df_combined['Policy_Duration'] = df_combined['Policy End Date'] - df_combined['Policy Start Date']
# df_combined['Policy_Duration'] = df_combined['Policy_Duration'].astype(str).str.replace('days', ' ').str.strip().astype(int)

In [151]:
le = LabelEncoder()
date_bools = [col for col in df_combined if "is_" in col]
for date_b in date_bools:
    df_combined[date_b] = le.fit_transform(df_combined[date_b])

In [152]:
pd.set_option('display.max_columns', None)
df_combined

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target,Policy Start Date_year,Policy Start Date_dayofyear,Policy Start Date_month,Policy Start Date_days_in_month,Policy Start Date_day,Policy Start Date_dayofweek,Policy Start Date_weekofyear,Policy Start Date_quarter,Policy Start Date_week,Policy Start Date_is_quarter_start,Policy Start Date_is_quarter_end,Policy Start Date_is_month_start,Policy Start Date_is_month_end,Policy Start Date_is_year_start,Policy Start Date_is_year_end,Policy End Date_year,Policy End Date_dayofyear,Policy End Date_month,Policy End Date_days_in_month,Policy End Date_day,Policy End Date_dayofweek,Policy End Date_weekofyear,Policy End Date_quarter,Policy End Date_week,Policy End Date_is_quarter_start,Policy End Date_is_quarter_end,Policy End Date_is_month_start,Policy End Date_is_month_end,Policy End Date_is_year_start,Policy End Date_is_year_end,First Transaction Date_year,First Transaction Date_dayofyear,First Transaction Date_month,First Transaction Date_days_in_month,First Transaction Date_day,First Transaction Date_dayofweek,First Transaction Date_weekofyear,First Transaction Date_quarter,First Transaction Date_week,First Transaction Date_is_quarter_start,First Transaction Date_is_quarter_end,First Transaction Date_is_month_start,First Transaction Date_is_month_end,First Transaction Date_is_year_start,First Transaction Date_is_year_end,Policy Start Date_weekend,Policy End Date_weekend,First Transaction Date_weekend
0,ID_0040R73,2010-05-14,2011-05-13,Male,30,2010-05-14,1,Saloon,Black,TOYOTA,-9999,-9999,Car Classic,0.0,2010,134,5,31,14,4,19,2,19,0,0,0,0,0,0,2011,133,5,31,13,4,19,2,19,0,0,0,0,0,0,2010,134,5,31,14,4,19,2,19,0,0,0,0,0,0,0,0,0
1,ID_0046BNK,2010-11-29,2011-11-28,Female,79,2010-11-29,1,JEEP,Grey,TOYOTA,-9999,-9999,Car Classic,1.0,2010,333,11,30,29,0,48,4,48,0,0,0,0,0,0,2011,332,11,30,28,0,48,4,48,0,0,0,0,0,0,2010,333,11,30,29,0,48,4,48,0,0,0,0,0,0,0,0,0
2,ID_005QMC3,2010-03-21,2011-03-20,Male,43,2010-03-21,1,Saloon,Red,TOYOTA,-9999,-9999,Car Classic,0.0,2010,80,3,31,21,6,11,1,11,0,0,0,0,0,0,2011,79,3,31,20,6,11,1,11,0,0,0,0,0,0,2010,80,3,31,21,6,11,1,11,0,0,0,0,0,0,1,1,1
3,ID_0079OHW,2010-08-21,2011-08-20,Male,2,2010-08-21,1,-9999,-9999,-9999,-9999,-9999,CarSafe,0.0,2010,233,8,31,21,5,33,3,33,0,0,0,0,0,0,2011,232,8,31,20,5,33,3,33,0,0,0,0,0,0,2010,233,8,31,21,5,33,3,33,0,0,0,0,0,0,1,1,1
4,ID_00BRP63,2010-08-29,2010-12-31,Other,20,2010-08-29,3,-9999,-9999,-9999,Lagos,Lagos,Muuve,1.0,2010,241,8,31,29,6,34,3,34,0,0,0,0,0,0,2010,365,12,31,31,4,52,4,52,0,1,0,1,0,1,2010,241,8,31,29,6,34,3,34,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13276,ID_ZTTHC5X,2010-12-05,2011-12-04,Male,67,2010-12-05,2,JEEP,Black,TOYOTA,Victoria Island,Lagos,Car Classic,NaN,2010,339,12,31,5,6,48,4,48,0,0,0,0,0,0,2011,338,12,31,4,6,48,4,48,0,0,0,0,0,0,2010,339,12,31,5,6,48,4,48,0,0,0,0,0,0,1,1,1
13277,ID_ZUJAFUP,2010-01-14,2011-01-13,Male,43,2010-01-14,1,Saloon,Silver,Hyundai,Surulere,Lagos,Car Classic,NaN,2010,14,1,31,14,3,2,1,2,0,0,0,0,0,0,2011,13,1,31,13,3,2,1,2,0,0,0,0,0,0,2010,14,1,31,14,3,2,1,2,0,0,0,0,0,0,0,0,0
13278,ID_ZWHCTUM,2010-07-26,2011-07-25,Male,30,2010-07-26,1,Truck,White,Iveco,Victoria Island,Lagos,CVTP,NaN,2010,207,7,31,26,0,30,3,30,0,0,0,0,0,0,2011,206,7,31,25,0,30,3,30,0,0,0,0,0,0,2010,207,7,31,26,0,30,3,30,0,0,0,0,0,0,0,0,0
13279,ID_ZWQRL8L,2010-02-16,2011-02-15,Male,44,2010-02-16,2,Saloon,-9999,Nissan,Aba North,Aba-North,Car Classic,NaN,2010,47,2,28,16,1,7,1,7,0,0,0,0,0,0,2011,46,2,28,15,1,7,1,7,0,0,0,0,0,0,2010,47,2,28,16,1,7,1,7,0,0,0,0,0,0,0,0,0
13280,ID_ZWZ92GU,2010-03-18,2011-03-17,Male,28,2010-03-18,1,Saloon,Silver,TOYOTA,-9999,-9999,Car Classic,NaN,2010,77,3,31,18,3,11,1,11,0,0,0,0,0,0,2011,76,3,31,17,3,11,1,11,0,0,0,0,0,0,2010,77,3,31,18,3,11,1,11,0,0,0,0,0,0,0,0,0

## **Standardize Data**

In [153]:
# object_cols = ['Car_Category', 'Gender', 'LGA_Name', 'Product_Name', 'State',
#        'Subject_Car_Colour', 'Subject_Car_Make']

# for col in object_cols:
#     df_combined[col] = df_combined[col].str.title()

In [154]:
df_combined.head()

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target,Policy Start Date_year,Policy Start Date_dayofyear,Policy Start Date_month,Policy Start Date_days_in_month,Policy Start Date_day,Policy Start Date_dayofweek,Policy Start Date_weekofyear,Policy Start Date_quarter,Policy Start Date_week,Policy Start Date_is_quarter_start,Policy Start Date_is_quarter_end,Policy Start Date_is_month_start,Policy Start Date_is_month_end,Policy Start Date_is_year_start,Policy Start Date_is_year_end,Policy End Date_year,Policy End Date_dayofyear,Policy End Date_month,Policy End Date_days_in_month,Policy End Date_day,Policy End Date_dayofweek,Policy End Date_weekofyear,Policy End Date_quarter,Policy End Date_week,Policy End Date_is_quarter_start,Policy End Date_is_quarter_end,Policy End Date_is_month_start,Policy End Date_is_month_end,Policy End Date_is_year_start,Policy End Date_is_year_end,First Transaction Date_year,First Transaction Date_dayofyear,First Transaction Date_month,First Transaction Date_days_in_month,First Transaction Date_day,First Transaction Date_dayofweek,First Transaction Date_weekofyear,First Transaction Date_quarter,First Transaction Date_week,First Transaction Date_is_quarter_start,First Transaction Date_is_quarter_end,First Transaction Date_is_month_start,First Transaction Date_is_month_end,First Transaction Date_is_year_start,First Transaction Date_is_year_end,Policy Start Date_weekend,Policy End Date_weekend,First Transaction Date_weekend
0,ID_0040R73,2010-05-14,2011-05-13,Male,30,2010-05-14,1,Saloon,Black,TOYOTA,-9999,-9999,Car Classic,0.0,2010,134,5,31,14,4,19,2,19,0,0,0,0,0,0,2011,133,5,31,13,4,19,2,19,0,0,0,0,0,0,2010,134,5,31,14,4,19,2,19,0,0,0,0,0,0,0,0,0
1,ID_0046BNK,2010-11-29,2011-11-28,Female,79,2010-11-29,1,JEEP,Grey,TOYOTA,-9999,-9999,Car Classic,1.0,2010,333,11,30,29,0,48,4,48,0,0,0,0,0,0,2011,332,11,30,28,0,48,4,48,0,0,0,0,0,0,2010,333,11,30,29,0,48,4,48,0,0,0,0,0,0,0,0,0
2,ID_005QMC3,2010-03-21,2011-03-20,Male,43,2010-03-21,1,Saloon,Red,TOYOTA,-9999,-9999,Car Classic,0.0,2010,80,3,31,21,6,11,1,11,0,0,0,0,0,0,2011,79,3,31,20,6,11,1,11,0,0,0,0,0,0,2010,80,3,31,21,6,11,1,11,0,0,0,0,0,0,1,1,1
3,ID_0079OHW,2010-08-21,2011-08-20,Male,2,2010-08-21,1,-9999,-9999,-9999,-9999,-9999,CarSafe,0.0,2010,233,8,31,21,5,33,3,33,0,0,0,0,0,0,2011,232,8,31,20,5,33,3,33,0,0,0,0,0,0,2010,233,8,31,21,5,33,3,33,0,0,0,0,0,0,1,1,1
4,ID_00BRP63,2010-08-29,2010-12-31,Other,20,2010-08-29,3,-9999,-9999,-9999,Lagos,Lagos,Muuve,1.0,2010,241,8,31,29,6,34,3,34,0,0,0,0,0,0,2010,365,12,31,31,4,52,4,52,0,1,0,1,0,1,2010,241,8,31,29,6,34,3,34,0,0,0,0,0,0,1,0,1

In [155]:
df_combined.isnull().sum()

ID                                      0
Policy Start Date                       0
Policy End Date                         0
Gender                                  0
Age                                     0
                                       ..
First Transaction Date_is_year_start    0
First Transaction Date_is_year_end      0
Policy Start Date_weekend               0
Policy End Date_weekend                 0
First Transaction Date_weekend          0
Length: 62, dtype: int64

## **Get Dummy Variables**

In [156]:
df_combined.select_dtypes(include=['object', 'category']).columns[1:]

Index(['Gender', 'Car_Category', 'Subject_Car_Colour', 'Subject_Car_Make',
       'LGA_Name', 'State', 'ProductName'],
      dtype='object')

In [157]:
te = ce.BackwardDifferenceEncoder()
dummies = te.fit_transform(df_combined[['Gender', 'Car_Category', 'Subject_Car_Colour', 'Subject_Car_Make',
       'LGA_Name', 'State', 'ProductName', 'Policy Start Date_holiday', 'Policy End Date_holiday', 'First Transaction Date_holiday']])

dummies.drop(['intercept', 'Gender_0', 'Car_Category_0', 'Subject_Car_Colour_0', 'Subject_Car_Make_0', 'LGA_Name_0', 'State_0', 'ProductName_0',
             'Policy Start Date_holiday_0', 'Policy End Date_holiday_0', 'First Transaction Date_holiday_0'], axis=1, inplace=True)
dummies

KeyError: "['Policy Start Date_holiday', 'Policy End Date_holiday', 'First Transaction Date_holiday'] not in index"

In [ ]:
df_combined = df_combined.merge(dummies, left_index=True, right_index=True)

In [158]:
df_combined

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target,Policy Start Date_year,Policy Start Date_dayofyear,Policy Start Date_month,Policy Start Date_days_in_month,Policy Start Date_day,Policy Start Date_dayofweek,Policy Start Date_weekofyear,Policy Start Date_quarter,Policy Start Date_week,Policy Start Date_is_quarter_start,Policy Start Date_is_quarter_end,Policy Start Date_is_month_start,Policy Start Date_is_month_end,Policy Start Date_is_year_start,Policy Start Date_is_year_end,Policy End Date_year,Policy End Date_dayofyear,Policy End Date_month,Policy End Date_days_in_month,Policy End Date_day,Policy End Date_dayofweek,Policy End Date_weekofyear,Policy End Date_quarter,Policy End Date_week,Policy End Date_is_quarter_start,Policy End Date_is_quarter_end,Policy End Date_is_month_start,Policy End Date_is_month_end,Policy End Date_is_year_start,Policy End Date_is_year_end,First Transaction Date_year,First Transaction Date_dayofyear,First Transaction Date_month,First Transaction Date_days_in_month,First Transaction Date_day,First Transaction Date_dayofweek,First Transaction Date_weekofyear,First Transaction Date_quarter,First Transaction Date_week,First Transaction Date_is_quarter_start,First Transaction Date_is_quarter_end,First Transaction Date_is_month_start,First Transaction Date_is_month_end,First Transaction Date_is_year_start,First Transaction Date_is_year_end,Policy Start Date_weekend,Policy End Date_weekend,First Transaction Date_weekend
0,ID_0040R73,2010-05-14,2011-05-13,Male,30,2010-05-14,1,Saloon,Black,TOYOTA,-9999,-9999,Car Classic,0.0,2010,134,5,31,14,4,19,2,19,0,0,0,0,0,0,2011,133,5,31,13,4,19,2,19,0,0,0,0,0,0,2010,134,5,31,14,4,19,2,19,0,0,0,0,0,0,0,0,0
1,ID_0046BNK,2010-11-29,2011-11-28,Female,79,2010-11-29,1,JEEP,Grey,TOYOTA,-9999,-9999,Car Classic,1.0,2010,333,11,30,29,0,48,4,48,0,0,0,0,0,0,2011,332,11,30,28,0,48,4,48,0,0,0,0,0,0,2010,333,11,30,29,0,48,4,48,0,0,0,0,0,0,0,0,0
2,ID_005QMC3,2010-03-21,2011-03-20,Male,43,2010-03-21,1,Saloon,Red,TOYOTA,-9999,-9999,Car Classic,0.0,2010,80,3,31,21,6,11,1,11,0,0,0,0,0,0,2011,79,3,31,20,6,11,1,11,0,0,0,0,0,0,2010,80,3,31,21,6,11,1,11,0,0,0,0,0,0,1,1,1
3,ID_0079OHW,2010-08-21,2011-08-20,Male,2,2010-08-21,1,-9999,-9999,-9999,-9999,-9999,CarSafe,0.0,2010,233,8,31,21,5,33,3,33,0,0,0,0,0,0,2011,232,8,31,20,5,33,3,33,0,0,0,0,0,0,2010,233,8,31,21,5,33,3,33,0,0,0,0,0,0,1,1,1
4,ID_00BRP63,2010-08-29,2010-12-31,Other,20,2010-08-29,3,-9999,-9999,-9999,Lagos,Lagos,Muuve,1.0,2010,241,8,31,29,6,34,3,34,0,0,0,0,0,0,2010,365,12,31,31,4,52,4,52,0,1,0,1,0,1,2010,241,8,31,29,6,34,3,34,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13276,ID_ZTTHC5X,2010-12-05,2011-12-04,Male,67,2010-12-05,2,JEEP,Black,TOYOTA,Victoria Island,Lagos,Car Classic,NaN,2010,339,12,31,5,6,48,4,48,0,0,0,0,0,0,2011,338,12,31,4,6,48,4,48,0,0,0,0,0,0,2010,339,12,31,5,6,48,4,48,0,0,0,0,0,0,1,1,1
13277,ID_ZUJAFUP,2010-01-14,2011-01-13,Male,43,2010-01-14,1,Saloon,Silver,Hyundai,Surulere,Lagos,Car Classic,NaN,2010,14,1,31,14,3,2,1,2,0,0,0,0,0,0,2011,13,1,31,13,3,2,1,2,0,0,0,0,0,0,2010,14,1,31,14,3,2,1,2,0,0,0,0,0,0,0,0,0
13278,ID_ZWHCTUM,2010-07-26,2011-07-25,Male,30,2010-07-26,1,Truck,White,Iveco,Victoria Island,Lagos,CVTP,NaN,2010,207,7,31,26,0,30,3,30,0,0,0,0,0,0,2011,206,7,31,25,0,30,3,30,0,0,0,0,0,0,2010,207,7,31,26,0,30,3,30,0,0,0,0,0,0,0,0,0
13279,ID_ZWQRL8L,2010-02-16,2011-02-15,Male,44,2010-02-16,2,Saloon,-9999,Nissan,Aba North,Aba-North,Car Classic,NaN,2010,47,2,28,16,1,7,1,7,0,0,0,0,0,0,2011,46,2,28,15,1,7,1,7,0,0,0,0,0,0,2010,47,2,28,16,1,7,1,7,0,0,0,0,0,0,0,0,0
13280,ID_ZWZ92GU,2010-03-18,2011-03-17,Male,28,2010-03-18,1,Saloon,Silver,TOYOTA,-9999,-9999,Car Classic,NaN,2010,77,3,31,18,3,11,1,11,0,0,0,0,0,0,2011,76,3,31,17,3,11,1,11,0,0,0,0,0,0,2010,77,3,31,18,3,11,1,11,0,0,0,0,0,0,0,0,0

In [161]:
# drop dummied & broadcasted columns, and Id
df_combined.drop(['ID', 'Policy Start Date', 'Policy End Date', 'Gender', 'Car_Category', 'Subject_Car_Colour', 'Subject_Car_Make','LGA_Name', 'State', 'ProductName',
#                   'Policy Start Date_holiday', 'Policy End Date_holiday', 'First Transaction Date_holiday',
                  'First Transaction Date', 'Policy Start Date_year', 'Policy End Date_year', 'First Transaction Date_year'], axis=1, inplace=True)

In [162]:
# Age Outliers
def outliers(column):
    Q1, Q3 = np.percentile(column, [25, 75])
    IQR = Q3 - Q1
    lower_range = Q1 - (1.5 * IQR)
    upper_range = Q3 + (1.5 * IQR)
    return lower_range, upper_range
 
outliers(df_combined['Age'])

(12.5, 72.5)

In [163]:
df_combined['Age'] = np.where(df_combined['Age'] < 12.5, df_combined['Age'].mean(), df_combined['Age'])
df_combined['Age'] = np.where(df_combined['Age'] > 72.5, df_combined['Age'].mean(), df_combined['Age'])

In [164]:
df_combined

,Age,No_Pol,target,Policy Start Date_dayofyear,Policy Start Date_month,Policy Start Date_days_in_month,Policy Start Date_day,Policy Start Date_dayofweek,Policy Start Date_weekofyear,Policy Start Date_quarter,Policy Start Date_week,Policy Start Date_is_quarter_start,Policy Start Date_is_quarter_end,Policy Start Date_is_month_start,Policy Start Date_is_month_end,Policy Start Date_is_year_start,Policy Start Date_is_year_end,Policy End Date_dayofyear,Policy End Date_month,Policy End Date_days_in_month,Policy End Date_day,Policy End Date_dayofweek,Policy End Date_weekofyear,Policy End Date_quarter,Policy End Date_week,Policy End Date_is_quarter_start,Policy End Date_is_quarter_end,Policy End Date_is_month_start,Policy End Date_is_month_end,Policy End Date_is_year_start,Policy End Date_is_year_end,First Transaction Date_dayofyear,First Transaction Date_month,First Transaction Date_days_in_month,First Transaction Date_day,First Transaction Date_dayofweek,First Transaction Date_weekofyear,First Transaction Date_quarter,First Transaction Date_week,First Transaction Date_is_quarter_start,First Transaction Date_is_quarter_end,First Transaction Date_is_month_start,First Transaction Date_is_month_end,First Transaction Date_is_year_start,First Transaction Date_is_year_end,Policy Start Date_weekend,Policy End Date_weekend,First Transaction Date_weekend
0,30.000000,1,0.0,134,5,31,14,4,19,2,19,0,0,0,0,0,0,133,5,31,13,4,19,2,19,0,0,0,0,0,0,134,5,31,14,4,19,2,19,0,0,0,0,0,0,0,0,0
1,45.463752,1,1.0,333,11,30,29,0,48,4,48,0,0,0,0,0,0,332,11,30,28,0,48,4,48,0,0,0,0,0,0,333,11,30,29,0,48,4,48,0,0,0,0,0,0,0,0,0
2,43.000000,1,0.0,80,3,31,21,6,11,1,11,0,0,0,0,0,0,79,3,31,20,6,11,1,11,0,0,0,0,0,0,80,3,31,21,6,11,1,11,0,0,0,0,0,0,1,1,1
3,42.375574,1,0.0,233,8,31,21,5,33,3,33,0,0,0,0,0,0,232,8,31,20,5,33,3,33,0,0,0,0,0,0,233,8,31,21,5,33,3,33,0,0,0,0,0,0,1,1,1
4,20.000000,3,1.0,241,8,31,29,6,34,3,34,0,0,0,0,0,0,365,12,31,31,4,52,4,52,0,1,0,1,0,1,241,8,31,29,6,34,3,34,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13276,67.000000,2,NaN,339,12,31,5,6,48,4,48,0,0,0,0,0,0,338,12,31,4,6,48,4,48,0,0,0,0,0,0,339,12,31,5,6,48,4,48,0,0,0,0,0,0,1,1,1
13277,43.000000,1,NaN,14,1,31,14,3,2,1,2,0,0,0,0,0,0,13,1,31,13,3,2,1,2,0,0,0,0,0,0,14,1,31,14,3,2,1,2,0,0,0,0,0,0,0,0,0
13278,30.000000,1,NaN,207,7,31,26,0,30,3,30,0,0,0,0,0,0,206,7,31,25,0,30,3,30,0,0,0,0,0,0,207,7,31,26,0,30,3,30,0,0,0,0,0,0,0,0,0
13279,44.000000,2,NaN,47,2,28,16,1,7,1,7,0,0,0,0,0,0,46,2,28,15,1,7,1,7,0,0,0,0,0,0,47,2,28,16,1,7,1,7,0,0,0,0,0,0,0,0,0
13280,28.000000,1,NaN,77,3,31,18,3,11,1,11,0,0,0,0,0,0,76,3,31,17,3,11,1,11,0,0,0,0,0,0,77,3,31,18,3,11,1,11,0,0,0,0,0,0,0,0,0

## **Init Model**

In [165]:
def train_predict(classifier, X_train, y_train, X_test, y_test):
    ''''''
    results = {}
    
    # Training
    start = time()
    clf = classifier.fit(X_train, y_train)
    end = time()
    
    results['train_time'] = end - start
    
    # Testing
    start = time()
    predictions = clf.predict(X_test)
    end = time()
    
    results['test_time'] = end - start
    
    # Accuracy score
#     score = accuracy_score(y_test, predictions)
#     results['accuracy_score'] = score
    
    # f1_score
    f_score = f1_score(y_test, predictions)
    results['f1_score'] = f_score
    
    # cross val-score
#     cross_scores = cross_val_score(clf, X_train, y_train, scoring='f1', cv=10)
#     results['f1_validation_score'] = cross_scores.mean()
    
    print('{} has been trained and tested \U0001F600'.format(classifier.__class__.__name__))
    return results

In [166]:
# Separate training set and test test
training_df = df_combined[:training_data]
testing_df = df_combined[training_data:]

main_cols = [col for col in df_combined[training_data:].columns if 'target' not in col] # remove the Target variable from the training set
testing_df = testing_df[main_cols]

# training and testing shapes (Original Format)
training_df.shape, testing_df.shape

((12079, 48), (1202, 47))

In [167]:
X = training_df.iloc[:, training_df.columns != 'target']
y = training_df.iloc[:, training_df.columns == 'target']

In [168]:
from sklearn.model_selection import StratifiedShuffleSplit

# ss = StratifiedShuffleSplit(n_splits=5, test_size=0.14, random_state=42)
# for train_index, test_index in ss.split(X, y): 
#     print("TRAIN:", train_index, "TEST:", test_index)
#     X_train, X_test = X[train_index], X[test_index]
#     y_train, y_test = y[train_index], y[test_index]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, stratify=y, random_state=42)

In [169]:
from imblearn.over_sampling import RandomOverSampler
os = RandomOverSampler()
X_train, y_train = os.fit_resample(X_train, y_train)

In [170]:
X_train.shape, y_train.shape

((18060, 47), (18060, 1))

In [171]:
# Feature scale the data
pipeline = Pipeline([
    ('std_scaler', StandardScaler())
])
X_train = pipeline.fit_transform(X_train)
X_test = pipeline.transform(X_test)

# scale provided test set
testing_df = pipeline.fit_transform(testing_df)

In [172]:
from catboost import CatBoostClassifier

clf_A = RandomForestClassifier()
# clf_B = SGDClassifier()
# clf_C = LogisticRegression()
clf_D = GradientBoostingClassifier()
# clf_E = DecisionTreeClassifier()
clf_F = XGBClassifier()
# clf_G = KNeighborsClassifier()
clf_H = AdaBoostClassifier()
# clf_J = BaggingClassifier()
# clf_K = GaussianNB()
clf_L = LGBMClassifier()
clf_M = MLPClassifier()
clf_O = CatBoostClassifier()


results = {}
for i, clf in enumerate([clf_A, clf_D, clf_F, clf_H, clf_O]):
    clf_name = clf.__class__.__name__
    results[clf_name] = {}
    results[clf_name][i] = train_predict(clf, X_train, y_train, X_test, y_test)
    
display(results)

RandomForestClassifier has been trained and tested 😀
GradientBoostingClassifier has been trained and tested 😀
[15:15:08] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
XGBClassifier has been trained and tested 😀
AdaBoostClassifier has been trained and tested 😀
Learning rate set to 0.035445
0:	learn: 0.6895929	total: 15.1ms	remaining: 15.1s
1:	learn: 0.6862348	total: 25.4ms	remaining: 12.7s
2:	learn: 0.6831609	total: 35.3ms	remaining: 11.7s
3:	learn: 0.6803515	total: 44.9ms	remaining: 11.2s
4:	learn: 0.6775134	total: 55ms	remaining: 10.9s
5:	learn: 0.6746476	total: 64.8ms	remaining: 10.7s
6:	learn: 0.6722180	total: 74.2ms	remaining: 10.5s
7:	learn: 0.6697885	total: 84.3ms	remaining: 10.5s
8:	learn: 0.6675618	total: 94.4ms	remaining: 10.4s
9:	learn: 0.6656917	total: 106ms	remaining: 10.5s
10:	learn: 0.6638801	total: 115ms	remaining: 10.4s
11:	learn: 0.6620060	total: 125ms	remaining: 10.3s
12:	learn: 0.6598762	total: 135ms	remaining: 10.3s
13:	learn: 0.6579667	total: 145ms	remaining: 10.2s
14:	learn: 0.6564685	total: 154ms	remaining: 10.1s
15:	learn: 0.6546564	total: 165ms	remaining: 10.2s
16:	learn: 0.6531280	total: 175ms	remaining: 10.1s
17:	learn: 0.6520463	total: 185ms	remaining: 10.1s
18:	learn: 0.6501519	total: 195ms	remaining: 10.1s
19:	learn: 0.6489821	total: 205ms	remaining: 10.1s
20:	learn: 0.6476045	total: 216ms	remaining: 10s
21:	learn: 0.6461841	total: 226ms	remaining: 10s
22:	learn: 0.6451807	total: 236ms	remaining: 10s
23:	learn: 0.6441283	total: 246ms	remaining: 9.99s
24:	learn: 0.6424525	total: 256ms	remaining: 9.98s
25:	learn: 0.6416078	total: 266ms	remaining: 9.97s
26:	learn: 0.6404645	total: 277ms	remaining: 9.97s
27:	learn: 0.6392541	total: 288ms	remaining: 9.98s
28:	learn: 0.6384071	total: 298ms	remaining: 9.98s
29:	learn: 0.6374197	total: 309ms	remaining: 9.99s
30:	learn: 0.6362692	total: 319ms	remaining: 9.98s
31:	learn: 0.6351544	total: 331ms	remaining: 10s
32:	learn: 0.6341111	total: 342ms	remaining: 10s
33:	learn: 0.6330531	total: 353ms	remaining: 10s
34:	learn: 0.6322415	total: 364ms	remaining: 10s
35:	learn: 0.6313572	total: 374ms	remaining: 10s
36:	learn: 0.6306447	total: 385ms	remaining: 10s
37:	learn: 0.6293747	total: 396ms	remaining: 10s
38:	learn: 0.6286269	total: 406ms	remaining: 10s
39:	learn: 0.6278707	total: 417ms	remaining: 10s
40:	learn: 0.6270211	total: 428ms	remaining: 10s
41:	learn: 0.6263741	total: 438ms	remaining: 9.99s
42:	learn: 0.6254047	total: 449ms	remaining: 9.99s
43:	learn: 0.6245380	total: 470ms	remaining: 10.2s
44:	learn: 0.6235632	total: 480ms	remaining: 10.2s
45:	learn: 0.6227700	total: 491ms	remaining: 10.2s
46:	learn: 0.6221415	total: 502ms	remaining: 10.2s
47:	learn: 0.6213463	total: 512ms	remaining: 10.2s
48:	learn: 0.6206554	total: 523ms	remaining: 10.2s
49:	learn: 0.6201442	total: 534ms	remaining: 10.1s
50:	learn: 0.6192415	total: 545ms	remaining: 10.1s
51:	learn: 0.6183027	total: 555ms	remaining: 10.1s
52:	learn: 0.6176621	total: 566ms	remaining: 10.1s
53:	learn: 0.6171152	total: 577ms	remaining: 10.1s
54:	learn: 0.6163703	total: 588ms	remaining: 10.1s
55:	learn: 0.6159373	total: 598ms	remaining: 10.1s
56:	learn: 0.6150974	total: 609ms	remaining: 10.1s
57:	learn: 0.6146425	total: 620ms	remaining: 10.1s
58:	learn: 0.6140903	total: 631ms	remaining: 10.1s
59:	learn: 0.6133175	total: 643ms	remaining: 10.1s
60:	learn: 0.6129539	total: 654ms	remaining: 10.1s
61:	learn: 0.6126516	total: 664ms	remaining: 10s
62:	learn: 0.6120998	total: 675ms	remaining: 10s
63:	learn: 0.6114414	total: 685ms	remaining: 10s
64:	learn: 0.6106536	total: 695ms	remaining: 9.99s
65:	learn: 0.6096563	total: 705ms	remaining: 9.97s
66:	learn: 0.6090894	total: 715ms	remaining: 9.96s
67:	learn: 0.6083059	total: 725ms	remaining: 9.93s
68:	learn: 0.6077528	total: 735ms	remaining: 9.91s
69:	learn: 0.6075067	total: 744ms	remaining: 9.89s
70:	learn: 0.6069148	total: 755ms	remaining: 9.87s
71:	learn: 0.6059557	total: 766ms	remaining: 9.87s
72:	learn: 0.6054647	total: 776ms	remaining: 9.85s
73:	learn: 0.6051739	total: 786ms	remaining: 9.83s
74:	learn: 0.6045775	total: 796ms	remaining: 9.82s
75:	learn: 0.6040264	total: 807ms	remaining: 9.81s
76:	learn: 0.6033482	total: 819ms	remaining: 9.82s
77:	learn: 0.6026673	total: 829ms	remaining: 9.8s
78:	learn: 0.6022714	total: 839ms	remaining: 9.79s
79:	learn: 0.6019152	total: 849ms	remaining: 9.77s
80:	learn: 0.6013337	total: 859ms	remaining: 9.74s
81:	learn: 0.6007889	total: 869ms	remaining: 9.72s
82:	learn: 0.6002401	total: 879ms	remaining: 9.71s
83:	learn: 0.5995105	total: 889ms	remaining: 9.69s
84:	learn: 0.5991123	total: 899ms	remaining: 9.68s
85:	learn: 0.5985444	total: 909ms	remaining: 9.66s
86:	learn: 0.5980968	total: 919ms	remaining: 9.65s
87:	learn: 0.5976143	total: 930ms	remaining: 9.64s
88:	learn: 0.5969948	total: 940ms	remaining: 9.63s
89:	learn: 0.5966415	total: 951ms	remaining: 9.61s
90:	learn: 0.5963667	total: 961ms	remaining: 9.6s
91:	learn: 0.5957123	total: 971ms	remaining: 9.58s
92:	learn: 0.5954306	total: 981ms	remaining: 9.57s
93:	learn: 0.5951200	total: 991ms	remaining: 9.55s
94:	learn: 0.5946360	total: 1s	remaining: 9.54s
95:	learn: 0.5940840	total: 1.01s	remaining: 9.52s
96:	learn: 0.5936053	total: 1.02s	remaining: 9.51s
97:	learn: 0.5931064	total: 1.03s	remaining: 9.5s
98:	learn: 0.5924959	total: 1.04s	remaining: 9.48s
99:	learn: 0.5919260	total: 1.05s	remaining: 9.47s
100:	learn: 0.5915146	total: 1.06s	remaining: 9.46s
101:	learn: 0.5908738	total: 1.08s	remaining: 9.52s
102:	learn: 0.5904355	total: 1.09s	remaining: 9.5s
103:	learn: 0.5897914	total: 1.1s	remaining: 9.48s
104:	learn: 0.5893650	total: 1.11s	remaining: 9.47s
105:	learn: 0.5887374	total: 1.12s	remaining: 9.46s
106:	learn: 0.5877537	total: 1.13s	remaining: 9.44s
107:	learn: 0.5874131	total: 1.14s	remaining: 9.43s
108:	learn: 0.5869248	total: 1.15s	remaining: 9.42s
109:	learn: 0.5865486	total: 1.16s	remaining: 9.4s
110:	learn: 0.5860273	total: 1.17s	remaining: 9.39s
111:	learn: 0.5855420	total: 1.18s	remaining: 9.38s
112:	learn: 0.5851315	total: 1.19s	remaining: 9.36s
113:	learn: 0.5847428	total: 1.2s	remaining: 9.35s
114:	learn: 0.5842746	total: 1.21s	remaining: 9.34s
115:	learn: 0.5839556	total: 1.22s	remaining: 9.33s
116:	learn: 0.5835372	total: 1.23s	remaining: 9.31s
117:	learn: 0.5829898	total: 1.24s	remaining: 9.3s
118:	learn: 0.5824093	total: 1.25s	remaining: 9.29s
119:	learn: 0.5817438	total: 1.26s	remaining: 9.28s
120:	learn: 0.5814000	total: 1.27s	remaining: 9.27s
121:	learn: 0.5809429	total: 1.28s	remaining: 9.25s
122:	learn: 0.5804807	total: 1.3s	remaining: 9.24s
123:	learn: 0.5802959	total: 1.31s	remaining: 9.23s
124:	learn: 0.5796299	total: 1.32s	remaining: 9.23s
125:	learn: 0.5791610	total: 1.33s	remaining: 9.21s
126:	learn: 0.5787608	total: 1.34s	remaining: 9.21s
127:	learn: 0.5784988	total: 1.35s	remaining: 9.2s
128:	learn: 0.5781163	total: 1.36s	remaining: 9.19s
129:	learn: 0.5773349	total: 1.37s	remaining: 9.18s
130:	learn: 0.5767968	total: 1.38s	remaining: 9.17s
131:	learn: 0.5765597	total: 1.39s	remaining: 9.16s
132:	learn: 0.5761760	total: 1.4s	remaining: 9.15s
133:	learn: 0.5758769	total: 1.41s	remaining: 9.14s
134:	learn: 0.5753260	total: 1.43s	remaining: 9.13s
135:	learn: 0.5749721	total: 1.44s	remaining: 9.12s
136:	learn: 0.5746573	total: 1.45s	remaining: 9.11s
137:	learn: 0.5743105	total: 1.46s	remaining: 9.1s
138:	learn: 0.5739527	total: 1.47s	remaining: 9.09s
139:	learn: 0.5735080	total: 1.48s	remaining: 9.08s
140:	learn: 0.5731299	total: 1.49s	remaining: 9.07s
141:	learn: 0.5725602	total: 1.5s	remaining: 9.06s
142:	learn: 0.5723354	total: 1.51s	remaining: 9.05s
143:	learn: 0.5719420	total: 1.52s	remaining: 9.04s
144:	learn: 0.5713615	total: 1.53s	remaining: 9.03s
145:	learn: 0.5705726	total: 1.54s	remaining: 9.02s
146:	learn: 0.5702397	total: 1.55s	remaining: 9.01s
147:	learn: 0.5699755	total: 1.56s	remaining: 9s
148:	learn: 0.5691590	total: 1.57s	remaining: 8.99s
149:	learn: 0.5686086	total: 1.58s	remaining: 8.98s
150:	learn: 0.5682428	total: 1.59s	remaining: 8.96s
151:	learn: 0.5677877	total: 1.6s	remaining: 8.95s
152:	learn: 0.5673244	total: 1.61s	remaining: 8.94s
153:	learn: 0.5670974	total: 1.62s	remaining: 8.92s
154:	learn: 0.5667496	total: 1.63s	remaining: 8.91s
155:	learn: 0.5660759	total: 1.64s	remaining: 8.9s
156:	learn: 0.5657308	total: 1.65s	remaining: 8.88s
157:	learn: 0.5653759	total: 1.66s	remaining: 8.87s
158:	learn: 0.5652727	total: 1.67s	remaining: 8.86s
159:	learn: 0.5647216	total: 1.68s	remaining: 8.85s
160:	learn: 0.5641689	total: 1.7s	remaining: 8.83s

161:	learn: 0.5640694	total: 1.71s	remaining: 8.82s
162:	learn: 0.5638083	total: 1.71s	remaining: 8.8s
163:	learn: 0.5635401	total: 1.73s	remaining: 8.79s
164:	learn: 0.5633479	total: 1.74s	remaining: 8.79s
165:	learn: 0.5630888	total: 1.75s	remaining: 8.77s
166:	learn: 0.5628331	total: 1.76s	remaining: 8.76s
167:	learn: 0.5626085	total: 1.77s	remaining: 8.75s
168:	learn: 0.5621696	total: 1.78s	remaining: 8.73s
169:	learn: 0.5618605	total: 1.79s	remaining: 8.72s
170:	learn: 0.5615299	total: 1.8s	remaining: 8.71s
171:	learn: 0.5611324	total: 1.81s	remaining: 8.7s
172:	learn: 0.5609829	total: 1.82s	remaining: 8.69s
173:	learn: 0.5604733	total: 1.83s	remaining: 8.68s
174:	learn: 0.5601817	total: 1.84s	remaining: 8.66s
175:	learn: 0.5598803	total: 1.85s	remaining: 8.65s
176:	learn: 0.5595851	total: 1.86s	remaining: 8.64s
177:	learn: 0.5591362	total: 1.87s	remaining: 8.63s
178:	learn: 0.5590186	total: 1.88s	remaining: 8.62s
179:	learn: 0.5583970	total: 1.89s	remaining: 8.61s
180:	learn: 0.5579446	total: 1.9s	remaining: 8.6s
181:	learn: 0.5576626	total: 1.91s	remaining: 8.59s
182:	learn: 0.5573587	total: 1.92s	remaining: 8.57s
183:	learn: 0.5568260	total: 1.93s	remaining: 8.56s
184:	learn: 0.5562812	total: 1.94s	remaining: 8.55s
185:	learn: 0.5560831	total: 1.95s	remaining: 8.54s
186:	learn: 0.5554048	total: 1.96s	remaining: 8.53s
187:	learn: 0.5551637	total: 1.97s	remaining: 8.52s
188:	learn: 0.5546189	total: 1.98s	remaining: 8.5s
189:	learn: 0.5542385	total: 1.99s	remaining: 8.49s
190:	learn: 0.5539672	total: 2s	remaining: 8.48s
191:	learn: 0.5535220	total: 2.01s	remaining: 8.48s
192:	learn: 0.5530872	total: 2.02s	remaining: 8.47s
193:	learn: 0.5528027	total: 2.04s	remaining: 8.46s
194:	learn: 0.5524781	total: 2.05s	remaining: 8.45s
195:	learn: 0.5523165	total: 2.06s	remaining: 8.44s
196:	learn: 0.5518677	total: 2.07s	remaining: 8.43s
197:	learn: 0.5515815	total: 2.08s	remaining: 8.43s
198:	learn: 0.5514807	total: 2.09s	remaining: 8.42s
199:	learn: 0.5510641	total: 2.1s	remaining: 8.41s
200:	learn: 0.5508076	total: 2.12s	remaining: 8.41s
201:	learn: 0.5505431	total: 2.13s	remaining: 8.4s
202:	learn: 0.5501688	total: 2.14s	remaining: 8.39s
203:	learn: 0.5496736	total: 2.15s	remaining: 8.38s
204:	learn: 0.5492442	total: 2.16s	remaining: 8.37s
205:	learn: 0.5489277	total: 2.17s	remaining: 8.36s
206:	learn: 0.5483697	total: 2.18s	remaining: 8.35s
207:	learn: 0.5481692	total: 2.19s	remaining: 8.34s
208:	learn: 0.5478871	total: 2.2s	remaining: 8.33s
209:	learn: 0.5476127	total: 2.21s	remaining: 8.32s
210:	learn: 0.5473656	total: 2.22s	remaining: 8.31s
211:	learn: 0.5471387	total: 2.23s	remaining: 8.31s
212:	learn: 0.5468043	total: 2.25s	remaining: 8.3s
213:	learn: 0.5463602	total: 2.26s	remaining: 8.29s
214:	learn: 0.5462124	total: 2.27s	remaining: 8.29s
215:	learn: 0.5456796	total: 2.28s	remaining: 8.28s
216:	learn: 0.5454073	total: 2.29s	remaining: 8.27s
217:	learn: 0.5450445	total: 2.3s	remaining: 8.27s
218:	learn: 0.5448579	total: 2.32s	remaining: 8.26s
219:	learn: 0.5446567	total: 2.33s	remaining: 8.25s
220:	learn: 0.5444321	total: 2.34s	remaining: 8.25s
221:	learn: 0.5443048	total: 2.35s	remaining: 8.24s
222:	learn: 0.5437621	total: 2.36s	remaining: 8.24s
223:	learn: 0.5434376	total: 2.38s	remaining: 8.23s
224:	learn: 0.5432200	total: 2.39s	remaining: 8.22s
225:	learn: 0.5429221	total: 2.4s	remaining: 8.21s
226:	learn: 0.5426690	total: 2.41s	remaining: 8.21s
227:	learn: 0.5424318	total: 2.42s	remaining: 8.2s
228:	learn: 0.5422241	total: 2.44s	remaining: 8.22s
229:	learn: 0.5418690	total: 2.45s	remaining: 8.21s
230:	learn: 0.5415906	total: 2.46s	remaining: 8.21s
231:	learn: 0.5413131	total: 2.48s	remaining: 8.2s
232:	learn: 0.5410429	total: 2.49s	remaining: 8.19s
233:	learn: 0.5407083	total: 2.5s	remaining: 8.18s
234:	learn: 0.5403610	total: 2.51s	remaining: 8.18s
235:	learn: 0.5399686	total: 2.52s	remaining: 8.17s
236:	learn: 0.5397451	total: 2.53s	remaining: 8.16s
237:	learn: 0.5393511	total: 2.55s	remaining: 8.15s
238:	learn: 0.5391518	total: 2.56s	remaining: 8.14s
239:	learn: 0.5390077	total: 2.57s	remaining: 8.13s
240:	learn: 0.5388395	total: 2.58s	remaining: 8.12s
241:	learn: 0.5386437	total: 2.59s	remaining: 8.11s
242:	learn: 0.5384048	total: 2.6s	remaining: 8.1s
243:	learn: 0.5381764	total: 2.61s	remaining: 8.09s
244:	learn: 0.5379383	total: 2.62s	remaining: 8.08s
245:	learn: 0.5376914	total: 2.63s	remaining: 8.07s
246:	learn: 0.5374534	total: 2.65s	remaining: 8.06s
247:	learn: 0.5372566	total: 2.65s	remaining: 8.05s
248:	learn: 0.5371277	total: 2.67s	remaining: 8.04s
249:	learn: 0.5368614	total: 2.68s	remaining: 8.03s
250:	learn: 0.5365575	total: 2.69s	remaining: 8.02s
251:	learn: 0.5363057	total: 2.7s	remaining: 8.01s
252:	learn: 0.5360111	total: 2.71s	remaining: 7.99s
253:	learn: 0.5358084	total: 2.72s	remaining: 7.98s
254:	learn: 0.5353866	total: 2.73s	remaining: 7.97s
255:	learn: 0.5348556	total: 2.74s	remaining: 7.96s
256:	learn: 0.5346548	total: 2.75s	remaining: 7.95s
257:	learn: 0.5344770	total: 2.76s	remaining: 7.94s
258:	learn: 0.5341767	total: 2.77s	remaining: 7.93s
259:	learn: 0.5339240	total: 2.78s	remaining: 7.92s
260:	learn: 0.5336885	total: 2.79s	remaining: 7.91s
261:	learn: 0.5333090	total: 2.8s	remaining: 7.89s
262:	learn: 0.5326324	total: 2.81s	remaining: 7.88s
263:	learn: 0.5323420	total: 2.82s	remaining: 7.87s
264:	learn: 0.5318755	total: 2.83s	remaining: 7.86s
265:	learn: 0.5316296	total: 2.85s	remaining: 7.85s
266:	learn: 0.5312826	total: 2.85s	remaining: 7.84s
267:	learn: 0.5309067	total: 2.87s	remaining: 7.83s
268:	learn: 0.5305553	total: 2.88s	remaining: 7.82s
269:	learn: 0.5300388	total: 2.89s	remaining: 7.81s
270:	learn: 0.5298462	total: 2.9s	remaining: 7.79s
271:	learn: 0.5295746	total: 2.91s	remaining: 7.78s
272:	learn: 0.5292781	total: 2.92s	remaining: 7.77s
273:	learn: 0.5291562	total: 2.93s	remaining: 7.76s
274:	learn: 0.5289184	total: 2.94s	remaining: 7.75s
275:	learn: 0.5286265	total: 2.95s	remaining: 7.74s
276:	learn: 0.5281984	total: 2.96s	remaining: 7.73s
277:	learn: 0.5278275	total: 2.97s	remaining: 7.72s
278:	learn: 0.5274698	total: 2.98s	remaining: 7.71s
279:	learn: 0.5271666	total: 2.99s	remaining: 7.7s
280:	learn: 0.5268962	total: 3s	remaining: 7.69s
281:	learn: 0.5265751	total: 3.01s	remaining: 7.67s
282:	learn: 0.5263254	total: 3.02s	remaining: 7.66s
283:	learn: 0.5262407	total: 3.03s	remaining: 7.65s
284:	learn: 0.5261045	total: 3.04s	remaining: 7.64s
285:	learn: 0.5256138	total: 3.05s	remaining: 7.62s
286:	learn: 0.5253943	total: 3.06s	remaining: 7.61s
287:	learn: 0.5251098	total: 3.08s	remaining: 7.6s
288:	learn: 0.5247764	total: 3.08s	remaining: 7.59s
289:	learn: 0.5243373	total: 3.1s	remaining: 7.58s
290:	learn: 0.5240364	total: 3.11s	remaining: 7.57s
291:	learn: 0.5237557	total: 3.12s	remaining: 7.56s
292:	learn: 0.5233612	total: 3.13s	remaining: 7.55s
293:	learn: 0.5232123	total: 3.14s	remaining: 7.54s
294:	learn: 0.5229284	total: 3.15s	remaining: 7.52s
295:	learn: 0.5223911	total: 3.16s	remaining: 7.51s
296:	learn: 0.5220362	total: 3.17s	remaining: 7.5s
297:	learn: 0.5217496	total: 3.18s	remaining: 7.5s
298:	learn: 0.5214118	total: 3.19s	remaining: 7.49s
299:	learn: 0.5210754	total: 3.2s	remaining: 7.47s
300:	learn: 0.5208144	total: 3.21s	remaining: 7.46s
301:	learn: 0.5204026	total: 3.22s	remaining: 7.45s
302:	learn: 0.5201433	total: 3.23s	remaining: 7.44s
303:	learn: 0.5199140	total: 3.25s	remaining: 7.43s
304:	learn: 0.5195183	total: 3.26s	remaining: 7.42s
305:	learn: 0.5191130	total: 3.27s	remaining: 7.41s
306:	learn: 0.5187978	total: 3.28s	remaining: 7.4s
307:	learn: 0.5185453	total: 3.29s	remaining: 7.39s
308:	learn: 0.5182776	total: 3.3s	remaining: 7.38s
309:	learn: 0.5180452	total: 3.31s	remaining: 7.37s
310:	learn: 0.5175498	total: 3.32s	remaining: 7.36s
311:	learn: 0.5170638	total: 3.33s	remaining: 7.35s
312:	learn: 0.5167677	total: 3.35s	remaining: 7.34s
313:	learn: 0.5164743	total: 3.35s	remaining: 7.33s
314:	learn: 0.5160316	total: 3.37s	remaining: 7.32s
315:	learn: 0.5157588	total: 3.38s	remaining: 7.31s
316:	learn: 0.5155817	total: 3.39s	remaining: 7.3s
317:	learn: 0.5152713	total: 3.4s	remaining: 7.29s
318:	learn: 0.5151565	total: 3.41s	remaining: 7.27s
319:	learn: 0.5148996	total: 3.42s	remaining: 7.26s
320:	learn: 0.5147524	total: 3.43s	remaining: 7.25s
321:	learn: 0.5143251	total: 3.44s	remaining: 7.24s
322:	learn: 0.5139260	total: 3.45s	remaining: 7.23s
323:	learn: 0.5135700	total: 3.46s	remaining: 7.22s
324:	learn: 0.5132015	total: 3.47s	remaining: 7.21s
325:	learn: 0.5131146	total: 3.48s	remaining: 7.2s
326:	learn: 0.5128223	total: 3.49s	remaining: 7.19s
327:	learn: 0.5125249	total: 3.51s	remaining: 7.18s
328:	learn: 0.5121482	total: 3.52s	remaining: 7.17s

329:	learn: 0.5118914	total: 3.53s	remaining: 7.17s
330:	learn: 0.5116668	total: 3.54s	remaining: 7.16s
331:	learn: 0.5113015	total: 3.55s	remaining: 7.15s
332:	learn: 0.5110579	total: 3.56s	remaining: 7.13s
333:	learn: 0.5107433	total: 3.57s	remaining: 7.13s
334:	learn: 0.5104375	total: 3.58s	remaining: 7.11s
335:	learn: 0.5102258	total: 3.59s	remaining: 7.1s
336:	learn: 0.5099396	total: 3.6s	remaining: 7.09s
337:	learn: 0.5096669	total: 3.62s	remaining: 7.08s
338:	learn: 0.5094015	total: 3.63s	remaining: 7.07s
339:	learn: 0.5091174	total: 3.63s	remaining: 7.06s
340:	learn: 0.5088142	total: 3.65s	remaining: 7.05s
341:	learn: 0.5084130	total: 3.66s	remaining: 7.03s
342:	learn: 0.5081931	total: 3.67s	remaining: 7.02s
343:	learn: 0.5077764	total: 3.68s	remaining: 7.01s
344:	learn: 0.5073333	total: 3.69s	remaining: 7s
345:	learn: 0.5069895	total: 3.7s	remaining: 6.99s
346:	learn: 0.5066923	total: 3.71s	remaining: 6.98s
347:	learn: 0.5064556	total: 3.72s	remaining: 6.97s
348:	learn: 0.5061604	total: 3.73s	remaining: 6.96s
349:	learn: 0.5058959	total: 3.74s	remaining: 6.95s
350:	learn: 0.5056656	total: 3.75s	remaining: 6.93s
351:	learn: 0.5053955	total: 3.76s	remaining: 6.92s
352:	learn: 0.5051106	total: 3.77s	remaining: 6.92s
353:	learn: 0.5046762	total: 3.78s	remaining: 6.91s
354:	learn: 0.5044644	total: 3.79s	remaining: 6.89s
355:	learn: 0.5042386	total: 3.81s	remaining: 6.88s
356:	learn: 0.5039202	total: 3.82s	remaining: 6.87s
357:	learn: 0.5037404	total: 3.83s	remaining: 6.86s
358:	learn: 0.5036890	total: 3.84s	remaining: 6.85s
359:	learn: 0.5034269	total: 3.85s	remaining: 6.84s
360:	learn: 0.5031596	total: 3.86s	remaining: 6.83s
361:	learn: 0.5028649	total: 3.87s	remaining: 6.82s
362:	learn: 0.5024507	total: 3.88s	remaining: 6.8s
363:	learn: 0.5020218	total: 3.89s	remaining: 6.79s
364:	learn: 0.5017478	total: 3.9s	remaining: 6.78s
365:	learn: 0.5014989	total: 3.91s	remaining: 6.77s
366:	learn: 0.5011921	total: 3.92s	remaining: 6.76s
367:	learn: 0.5008762	total: 3.93s	remaining: 6.75s
368:	learn: 0.5006954	total: 3.94s	remaining: 6.74s
369:	learn: 0.5003696	total: 3.95s	remaining: 6.73s
370:	learn: 0.5002818	total: 3.96s	remaining: 6.71s
371:	learn: 0.4999543	total: 3.97s	remaining: 6.7s
372:	learn: 0.4996284	total: 3.98s	remaining: 6.69s
373:	learn: 0.4994636	total: 3.99s	remaining: 6.68s
374:	learn: 0.4992153	total: 4s	remaining: 6.67s
375:	learn: 0.4987408	total: 4.01s	remaining: 6.66s
376:	learn: 0.4984030	total: 4.02s	remaining: 6.65s
377:	learn: 0.4980293	total: 4.03s	remaining: 6.64s
378:	learn: 0.4977477	total: 4.04s	remaining: 6.63s
379:	learn: 0.4975223	total: 4.05s	remaining: 6.61s
380:	learn: 0.4973720	total: 4.06s	remaining: 6.6s
381:	learn: 0.4971494	total: 4.08s	remaining: 6.59s
382:	learn: 0.4968616	total: 4.08s	remaining: 6.58s
383:	learn: 0.4966898	total: 4.09s	remaining: 6.57s
384:	learn: 0.4964939	total: 4.11s	remaining: 6.56s
385:	learn: 0.4962715	total: 4.12s	remaining: 6.55s
386:	learn: 0.4959824	total: 4.13s	remaining: 6.54s
387:	learn: 0.4957261	total: 4.14s	remaining: 6.53s
388:	learn: 0.4953252	total: 4.15s	remaining: 6.52s
389:	learn: 0.4949482	total: 4.16s	remaining: 6.5s
390:	learn: 0.4946389	total: 4.17s	remaining: 6.49s
391:	learn: 0.4943543	total: 4.18s	remaining: 6.48s
392:	learn: 0.4940067	total: 4.19s	remaining: 6.47s
393:	learn: 0.4937182	total: 4.2s	remaining: 6.46s
394:	learn: 0.4935003	total: 4.21s	remaining: 6.45s
395:	learn: 0.4931483	total: 4.22s	remaining: 6.44s
396:	learn: 0.4929382	total: 4.23s	remaining: 6.43s
397:	learn: 0.4926580	total: 4.24s	remaining: 6.42s
398:	learn: 0.4924585	total: 4.25s	remaining: 6.41s
399:	learn: 0.4922047	total: 4.26s	remaining: 6.4s
400:	learn: 0.4919728	total: 4.28s	remaining: 6.39s
401:	learn: 0.4916544	total: 4.29s	remaining: 6.38s
402:	learn: 0.4913693	total: 4.3s	remaining: 6.37s
403:	learn: 0.4910220	total: 4.31s	remaining: 6.36s
404:	learn: 0.4908179	total: 4.33s	remaining: 6.36s
405:	learn: 0.4905368	total: 4.34s	remaining: 6.34s
406:	learn: 0.4903815	total: 4.35s	remaining: 6.33s
407:	learn: 0.4900533	total: 4.36s	remaining: 6.33s
408:	learn: 0.4898154	total: 4.37s	remaining: 6.32s
409:	learn: 0.4895262	total: 4.38s	remaining: 6.31s
410:	learn: 0.4892805	total: 4.39s	remaining: 6.29s
411:	learn: 0.4890857	total: 4.4s	remaining: 6.29s
412:	learn: 0.4889937	total: 4.42s	remaining: 6.28s
413:	learn: 0.4887481	total: 4.43s	remaining: 6.26s
414:	learn: 0.4884191	total: 4.44s	remaining: 6.25s
415:	learn: 0.4882878	total: 4.45s	remaining: 6.24s
416:	learn: 0.4880305	total: 4.46s	remaining: 6.23s
417:	learn: 0.4877622	total: 4.47s	remaining: 6.22s
418:	learn: 0.4875624	total: 4.48s	remaining: 6.21s
419:	learn: 0.4873387	total: 4.49s	remaining: 6.2s
420:	learn: 0.4870614	total: 4.5s	remaining: 6.19s
421:	learn: 0.4866730	total: 4.51s	remaining: 6.18s
422:	learn: 0.4865500	total: 4.52s	remaining: 6.17s
423:	learn: 0.4862651	total: 4.53s	remaining: 6.16s
424:	learn: 0.4860366	total: 4.54s	remaining: 6.15s
425:	learn: 0.4859187	total: 4.55s	remaining: 6.14s
426:	learn: 0.4856792	total: 4.58s	remaining: 6.15s
427:	learn: 0.4854740	total: 4.59s	remaining: 6.14s
428:	learn: 0.4852545	total: 4.6s	remaining: 6.13s
429:	learn: 0.4850751	total: 4.61s	remaining: 6.11s
430:	learn: 0.4848949	total: 4.62s	remaining: 6.1s
431:	learn: 0.4845572	total: 4.63s	remaining: 6.09s
432:	learn: 0.4843458	total: 4.64s	remaining: 6.08s
433:	learn: 0.4840704	total: 4.65s	remaining: 6.07s
434:	learn: 0.4837017	total: 4.66s	remaining: 6.06s
435:	learn: 0.4835381	total: 4.67s	remaining: 6.04s
436:	learn: 0.4831602	total: 4.68s	remaining: 6.03s
437:	learn: 0.4829123	total: 4.69s	remaining: 6.02s
438:	learn: 0.4826614	total: 4.7s	remaining: 6.01s
439:	learn: 0.4822588	total: 4.71s	remaining: 6s
440:	learn: 0.4819498	total: 4.72s	remaining: 5.99s
441:	learn: 0.4817874	total: 4.73s	remaining: 5.97s
442:	learn: 0.4815319	total: 4.74s	remaining: 5.96s
443:	learn: 0.4813195	total: 4.75s	remaining: 5.95s
444:	learn: 0.4812556	total: 4.76s	remaining: 5.94s
445:	learn: 0.4810417	total: 4.77s	remaining: 5.93s
446:	learn: 0.4808425	total: 4.79s	remaining: 5.92s
447:	learn: 0.4805403	total: 4.79s	remaining: 5.91s
448:	learn: 0.4801960	total: 4.81s	remaining: 5.9s
449:	learn: 0.4798726	total: 4.82s	remaining: 5.89s
450:	learn: 0.4796166	total: 4.83s	remaining: 5.88s
451:	learn: 0.4794819	total: 4.84s	remaining: 5.87s
452:	learn: 0.4794362	total: 4.85s	remaining: 5.85s
453:	learn: 0.4792069	total: 4.86s	remaining: 5.84s
454:	learn: 0.4790456	total: 4.87s	remaining: 5.83s
455:	learn: 0.4787766	total: 4.88s	remaining: 5.82s
456:	learn: 0.4786447	total: 4.89s	remaining: 5.81s
457:	learn: 0.4784752	total: 4.9s	remaining: 5.8s
458:	learn: 0.4783153	total: 4.91s	remaining: 5.79s
459:	learn: 0.4781263	total: 4.92s	remaining: 5.78s
460:	learn: 0.4778177	total: 4.93s	remaining: 5.76s
461:	learn: 0.4775867	total: 4.94s	remaining: 5.75s
462:	learn: 0.4773719	total: 4.95s	remaining: 5.74s
463:	learn: 0.4770476	total: 4.96s	remaining: 5.73s
464:	learn: 0.4768981	total: 4.97s	remaining: 5.72s
465:	learn: 0.4765188	total: 4.98s	remaining: 5.71s
466:	learn: 0.4761716	total: 4.99s	remaining: 5.7s
467:	learn: 0.4759499	total: 5s	remaining: 5.68s
468:	learn: 0.4756909	total: 5.01s	remaining: 5.67s
469:	learn: 0.4753506	total: 5.02s	remaining: 5.66s
470:	learn: 0.4750431	total: 5.03s	remaining: 5.65s
471:	learn: 0.4748375	total: 5.04s	remaining: 5.64s
472:	learn: 0.4745589	total: 5.05s	remaining: 5.63s
473:	learn: 0.4743672	total: 5.06s	remaining: 5.62s
474:	learn: 0.4739444	total: 5.07s	remaining: 5.61s
475:	learn: 0.4738303	total: 5.08s	remaining: 5.6s
476:	learn: 0.4735738	total: 5.1s	remaining: 5.59s
477:	learn: 0.4734108	total: 5.11s	remaining: 5.58s
478:	learn: 0.4730880	total: 5.12s	remaining: 5.57s
479:	learn: 0.4728933	total: 5.13s	remaining: 5.56s
480:	learn: 0.4725977	total: 5.15s	remaining: 5.55s
481:	learn: 0.4722600	total: 5.16s	remaining: 5.54s
482:	learn: 0.4720432	total: 5.17s	remaining: 5.53s
483:	learn: 0.4719027	total: 5.18s	remaining: 5.53s
484:	learn: 0.4716234	total: 5.2s	remaining: 5.52s
485:	learn: 0.4714683	total: 5.21s	remaining: 5.51s
486:	learn: 0.4711734	total: 5.22s	remaining: 5.5s
487:	learn: 0.4709961	total: 5.23s	remaining: 5.49s
488:	learn: 0.4706952	total: 5.24s	remaining: 5.48s
489:	learn: 0.4704511	total: 5.25s	remaining: 5.47s
490:	learn: 0.4702642	total: 5.27s	remaining: 5.46s
491:	learn: 0.4700296	total: 5.28s	remaining: 5.45s
492:	learn: 0.4698481	total: 5.29s	remaining: 5.44s
493:	learn: 0.4695835	total: 5.3s	remaining: 5.43s
494:	learn: 0.4693504	total: 5.31s	remaining: 5.42s

495:	learn: 0.4691604	total: 5.32s	remaining: 5.41s
496:	learn: 0.4688163	total: 5.33s	remaining: 5.4s
497:	learn: 0.4684860	total: 5.34s	remaining: 5.39s
498:	learn: 0.4681657	total: 5.36s	remaining: 5.38s
499:	learn: 0.4679910	total: 5.37s	remaining: 5.37s
500:	learn: 0.4677056	total: 5.38s	remaining: 5.36s
501:	learn: 0.4675528	total: 5.39s	remaining: 5.35s
502:	learn: 0.4673563	total: 5.4s	remaining: 5.34s
503:	learn: 0.4670628	total: 5.41s	remaining: 5.33s
504:	learn: 0.4667805	total: 5.42s	remaining: 5.32s
505:	learn: 0.4665997	total: 5.43s	remaining: 5.3s
506:	learn: 0.4664166	total: 5.44s	remaining: 5.29s
507:	learn: 0.4661947	total: 5.45s	remaining: 5.28s
508:	learn: 0.4660238	total: 5.46s	remaining: 5.27s
509:	learn: 0.4658120	total: 5.47s	remaining: 5.26s
510:	learn: 0.4655007	total: 5.49s	remaining: 5.25s
511:	learn: 0.4653339	total: 5.5s	remaining: 5.24s
512:	learn: 0.4651444	total: 5.51s	remaining: 5.23s
513:	learn: 0.4649401	total: 5.52s	remaining: 5.22s
514:	learn: 0.4647820	total: 5.53s	remaining: 5.21s
515:	learn: 0.4645791	total: 5.54s	remaining: 5.19s
516:	learn: 0.4645277	total: 5.55s	remaining: 5.18s
517:	learn: 0.4643601	total: 5.56s	remaining: 5.17s
518:	learn: 0.4642555	total: 5.57s	remaining: 5.16s
519:	learn: 0.4640192	total: 5.58s	remaining: 5.15s
520:	learn: 0.4638516	total: 5.59s	remaining: 5.14s
521:	learn: 0.4635978	total: 5.6s	remaining: 5.13s
522:	learn: 0.4632807	total: 5.61s	remaining: 5.11s
523:	learn: 0.4631156	total: 5.62s	remaining: 5.1s
524:	learn: 0.4628380	total: 5.63s	remaining: 5.09s
525:	learn: 0.4626286	total: 5.64s	remaining: 5.08s
526:	learn: 0.4623099	total: 5.65s	remaining: 5.07s
527:	learn: 0.4620209	total: 5.66s	remaining: 5.06s
528:	learn: 0.4618863	total: 5.67s	remaining: 5.05s
529:	learn: 0.4617386	total: 5.68s	remaining: 5.04s
530:	learn: 0.4614411	total: 5.69s	remaining: 5.03s
531:	learn: 0.4611961	total: 5.7s	remaining: 5.02s
532:	learn: 0.4610414	total: 5.71s	remaining: 5s
533:	learn: 0.4608162	total: 5.72s	remaining: 4.99s
534:	learn: 0.4605877	total: 5.73s	remaining: 4.98s
535:	learn: 0.4604403	total: 5.74s	remaining: 4.97s
536:	learn: 0.4603461	total: 5.75s	remaining: 4.96s
537:	learn: 0.4600556	total: 5.76s	remaining: 4.95s
538:	learn: 0.4599388	total: 5.77s	remaining: 4.94s
539:	learn: 0.4596008	total: 5.79s	remaining: 4.93s
540:	learn: 0.4594456	total: 5.79s	remaining: 4.92s
541:	learn: 0.4593028	total: 5.8s	remaining: 4.91s
542:	learn: 0.4591720	total: 5.82s	remaining: 4.89s
543:	learn: 0.4589423	total: 5.83s	remaining: 4.88s
544:	learn: 0.4587008	total: 5.84s	remaining: 4.87s
545:	learn: 0.4586586	total: 5.85s	remaining: 4.86s
546:	learn: 0.4583985	total: 5.86s	remaining: 4.85s
547:	learn: 0.4580975	total: 5.87s	remaining: 4.84s
548:	learn: 0.4578791	total: 5.88s	remaining: 4.83s
549:	learn: 0.4576904	total: 5.89s	remaining: 4.82s
550:	learn: 0.4574047	total: 5.9s	remaining: 4.81s
551:	learn: 0.4571542	total: 5.91s	remaining: 4.8s
552:	learn: 0.4569768	total: 5.92s	remaining: 4.79s
553:	learn: 0.4567936	total: 5.93s	remaining: 4.77s
554:	learn: 0.4566632	total: 5.94s	remaining: 4.76s
555:	learn: 0.4564742	total: 5.95s	remaining: 4.75s
556:	learn: 0.4563294	total: 5.96s	remaining: 4.74s
557:	learn: 0.4561273	total: 5.97s	remaining: 4.73s
558:	learn: 0.4558837	total: 5.98s	remaining: 4.72s
559:	learn: 0.4556559	total: 5.99s	remaining: 4.71s
560:	learn: 0.4555260	total: 6s	remaining: 4.7s
561:	learn: 0.4552408	total: 6.01s	remaining: 4.69s
562:	learn: 0.4550147	total: 6.03s	remaining: 4.68s
563:	learn: 0.4548476	total: 6.04s	remaining: 4.67s
564:	learn: 0.4546871	total: 6.05s	remaining: 4.66s
565:	learn: 0.4545214	total: 6.06s	remaining: 4.64s
566:	learn: 0.4542583	total: 6.07s	remaining: 4.63s
567:	learn: 0.4540012	total: 6.08s	remaining: 4.63s
568:	learn: 0.4537529	total: 6.09s	remaining: 4.62s
569:	learn: 0.4535111	total: 6.1s	remaining: 4.6s
570:	learn: 0.4532447	total: 6.12s	remaining: 4.59s
571:	learn: 0.4530112	total: 6.13s	remaining: 4.58s
572:	learn: 0.4527135	total: 6.14s	remaining: 4.58s
573:	learn: 0.4525570	total: 6.15s	remaining: 4.57s
574:	learn: 0.4522356	total: 6.16s	remaining: 4.56s
575:	learn: 0.4519372	total: 6.18s	remaining: 4.55s
576:	learn: 0.4516293	total: 6.19s	remaining: 4.54s
577:	learn: 0.4515872	total: 6.2s	remaining: 4.53s
578:	learn: 0.4514923	total: 6.21s	remaining: 4.52s
579:	learn: 0.4512931	total: 6.22s	remaining: 4.51s
580:	learn: 0.4508895	total: 6.24s	remaining: 4.5s
581:	learn: 0.4506552	total: 6.25s	remaining: 4.49s
582:	learn: 0.4505330	total: 6.26s	remaining: 4.48s
583:	learn: 0.4503131	total: 6.27s	remaining: 4.47s
584:	learn: 0.4501644	total: 6.28s	remaining: 4.46s
585:	learn: 0.4500396	total: 6.3s	remaining: 4.45s
586:	learn: 0.4499699	total: 6.31s	remaining: 4.44s
587:	learn: 0.4498901	total: 6.32s	remaining: 4.43s
588:	learn: 0.4496474	total: 6.33s	remaining: 4.42s
589:	learn: 0.4493627	total: 6.34s	remaining: 4.41s
590:	learn: 0.4491963	total: 6.35s	remaining: 4.4s
591:	learn: 0.4490191	total: 6.36s	remaining: 4.38s
592:	learn: 0.4487021	total: 6.37s	remaining: 4.37s
593:	learn: 0.4484804	total: 6.38s	remaining: 4.36s
594:	learn: 0.4483218	total: 6.39s	remaining: 4.35s
595:	learn: 0.4481399	total: 6.41s	remaining: 4.34s
596:	learn: 0.4479645	total: 6.42s	remaining: 4.33s
597:	learn: 0.4478399	total: 6.43s	remaining: 4.32s
598:	learn: 0.4476128	total: 6.44s	remaining: 4.31s
599:	learn: 0.4473783	total: 6.45s	remaining: 4.3s
600:	learn: 0.4471695	total: 6.46s	remaining: 4.29s
601:	learn: 0.4468791	total: 6.47s	remaining: 4.28s
602:	learn: 0.4466721	total: 6.48s	remaining: 4.27s
603:	learn: 0.4465584	total: 6.49s	remaining: 4.25s
604:	learn: 0.4463626	total: 6.5s	remaining: 4.24s
605:	learn: 0.4461869	total: 6.51s	remaining: 4.23s
606:	learn: 0.4460517	total: 6.52s	remaining: 4.22s
607:	learn: 0.4459501	total: 6.53s	remaining: 4.21s
608:	learn: 0.4457558	total: 6.54s	remaining: 4.2s
609:	learn: 0.4456121	total: 6.55s	remaining: 4.19s
610:	learn: 0.4454358	total: 6.57s	remaining: 4.18s
611:	learn: 0.4453438	total: 6.58s	remaining: 4.17s
612:	learn: 0.4450785	total: 6.59s	remaining: 4.16s
613:	learn: 0.4448798	total: 6.6s	remaining: 4.15s
614:	learn: 0.4446253	total: 6.61s	remaining: 4.14s
615:	learn: 0.4444123	total: 6.62s	remaining: 4.13s
616:	learn: 0.4443265	total: 6.63s	remaining: 4.12s
617:	learn: 0.4442379	total: 6.64s	remaining: 4.1s
618:	learn: 0.4440501	total: 6.65s	remaining: 4.09s
619:	learn: 0.4439285	total: 6.66s	remaining: 4.08s
620:	learn: 0.4436932	total: 6.67s	remaining: 4.07s
621:	learn: 0.4435223	total: 6.68s	remaining: 4.06s
622:	learn: 0.4432980	total: 6.7s	remaining: 4.05s
623:	learn: 0.4430017	total: 6.71s	remaining: 4.04s
624:	learn: 0.4426950	total: 6.72s	remaining: 4.03s
625:	learn: 0.4425177	total: 6.73s	remaining: 4.02s
626:	learn: 0.4423203	total: 6.74s	remaining: 4.01s
627:	learn: 0.4420666	total: 6.75s	remaining: 4s
628:	learn: 0.4418946	total: 6.76s	remaining: 3.99s
629:	learn: 0.4416688	total: 6.77s	remaining: 3.98s
630:	learn: 0.4415741	total: 6.78s	remaining: 3.96s
631:	learn: 0.4413759	total: 6.79s	remaining: 3.95s
632:	learn: 0.4411549	total: 6.8s	remaining: 3.94s
633:	learn: 0.4409133	total: 6.81s	remaining: 3.93s
634:	learn: 0.4407050	total: 6.82s	remaining: 3.92s
635:	learn: 0.4406066	total: 6.83s	remaining: 3.91s
636:	learn: 0.4403627	total: 6.84s	remaining: 3.9s
637:	learn: 0.4402180	total: 6.86s	remaining: 3.89s
638:	learn: 0.4400768	total: 6.87s	remaining: 3.88s
639:	learn: 0.4399449	total: 6.88s	remaining: 3.87s
640:	learn: 0.4396960	total: 6.89s	remaining: 3.86s
641:	learn: 0.4394975	total: 6.9s	remaining: 3.85s
642:	learn: 0.4393362	total: 6.91s	remaining: 3.84s
643:	learn: 0.4392075	total: 6.92s	remaining: 3.83s
644:	learn: 0.4390541	total: 6.93s	remaining: 3.81s
645:	learn: 0.4388208	total: 6.94s	remaining: 3.8s
646:	learn: 0.4387567	total: 6.95s	remaining: 3.79s
647:	learn: 0.4386297	total: 6.96s	remaining: 3.78s
648:	learn: 0.4385084	total: 6.97s	remaining: 3.77s
649:	learn: 0.4383676	total: 6.99s	remaining: 3.76s
650:	learn: 0.4381676	total: 7s	remaining: 3.75s
651:	learn: 0.4380233	total: 7.01s	remaining: 3.74s
652:	learn: 0.4378775	total: 7.02s	remaining: 3.73s
653:	learn: 0.4377709	total: 7.03s	remaining: 3.72s
654:	learn: 0.4376293	total: 7.05s	remaining: 3.71s
655:	learn: 0.4375146	total: 7.06s	remaining: 3.7s
656:	learn: 0.4372785	total: 7.07s	remaining: 3.69s
657:	learn: 0.4371499	total: 7.08s	remaining: 3.68s

658:	learn: 0.4369934	total: 7.1s	remaining: 3.67s
659:	learn: 0.4368303	total: 7.11s	remaining: 3.66s
660:	learn: 0.4366879	total: 7.12s	remaining: 3.65s
661:	learn: 0.4365122	total: 7.13s	remaining: 3.64s
662:	learn: 0.4363618	total: 7.14s	remaining: 3.63s
663:	learn: 0.4361130	total: 7.16s	remaining: 3.62s
664:	learn: 0.4358632	total: 7.17s	remaining: 3.61s
665:	learn: 0.4357441	total: 7.18s	remaining: 3.6s
666:	learn: 0.4355218	total: 7.19s	remaining: 3.59s
667:	learn: 0.4354285	total: 7.21s	remaining: 3.58s
668:	learn: 0.4351745	total: 7.22s	remaining: 3.57s
669:	learn: 0.4350012	total: 7.23s	remaining: 3.56s
670:	learn: 0.4348328	total: 7.24s	remaining: 3.55s
671:	learn: 0.4346811	total: 7.25s	remaining: 3.54s
672:	learn: 0.4344602	total: 7.27s	remaining: 3.53s
673:	learn: 0.4343187	total: 7.28s	remaining: 3.52s
674:	learn: 0.4341675	total: 7.29s	remaining: 3.51s
675:	learn: 0.4340720	total: 7.3s	remaining: 3.5s
676:	learn: 0.4339248	total: 7.31s	remaining: 3.49s
677:	learn: 0.4337779	total: 7.33s	remaining: 3.48s
678:	learn: 0.4335399	total: 7.34s	remaining: 3.47s
679:	learn: 0.4333587	total: 7.35s	remaining: 3.46s
680:	learn: 0.4331972	total: 7.36s	remaining: 3.45s
681:	learn: 0.4330850	total: 7.37s	remaining: 3.44s
682:	learn: 0.4329130	total: 7.38s	remaining: 3.43s
683:	learn: 0.4327330	total: 7.39s	remaining: 3.42s
684:	learn: 0.4325628	total: 7.41s	remaining: 3.4s
685:	learn: 0.4323429	total: 7.42s	remaining: 3.39s
686:	learn: 0.4322404	total: 7.43s	remaining: 3.38s
687:	learn: 0.4321879	total: 7.44s	remaining: 3.37s
688:	learn: 0.4320165	total: 7.45s	remaining: 3.36s
689:	learn: 0.4318153	total: 7.46s	remaining: 3.35s
690:	learn: 0.4316627	total: 7.47s	remaining: 3.34s
691:	learn: 0.4315582	total: 7.48s	remaining: 3.33s
692:	learn: 0.4314488	total: 7.49s	remaining: 3.32s
693:	learn: 0.4312584	total: 7.5s	remaining: 3.31s
694:	learn: 0.4310821	total: 7.52s	remaining: 3.3s
695:	learn: 0.4309922	total: 7.53s	remaining: 3.29s
696:	learn: 0.4308899	total: 7.54s	remaining: 3.28s
697:	learn: 0.4307751	total: 7.55s	remaining: 3.27s
698:	learn: 0.4306135	total: 7.56s	remaining: 3.25s
699:	learn: 0.4304445	total: 7.57s	remaining: 3.24s
700:	learn: 0.4302501	total: 7.58s	remaining: 3.23s
701:	learn: 0.4301787	total: 7.59s	remaining: 3.22s
702:	learn: 0.4300079	total: 7.61s	remaining: 3.21s
703:	learn: 0.4298499	total: 7.62s	remaining: 3.2s
704:	learn: 0.4296807	total: 7.63s	remaining: 3.19s
705:	learn: 0.4294159	total: 7.64s	remaining: 3.18s
706:	learn: 0.4292500	total: 7.65s	remaining: 3.17s
707:	learn: 0.4291232	total: 7.66s	remaining: 3.16s
708:	learn: 0.4289634	total: 7.67s	remaining: 3.15s
709:	learn: 0.4287885	total: 7.68s	remaining: 3.14s
710:	learn: 0.4286776	total: 7.69s	remaining: 3.13s
711:	learn: 0.4285461	total: 7.7s	remaining: 3.12s
712:	learn: 0.4282919	total: 7.71s	remaining: 3.1s
713:	learn: 0.4280736	total: 7.73s	remaining: 3.09s
714:	learn: 0.4278855	total: 7.74s	remaining: 3.08s
715:	learn: 0.4277827	total: 7.75s	remaining: 3.07s
716:	learn: 0.4275637	total: 7.76s	remaining: 3.06s
717:	learn: 0.4273641	total: 7.77s	remaining: 3.05s
718:	learn: 0.4272351	total: 7.78s	remaining: 3.04s
719:	learn: 0.4272077	total: 7.79s	remaining: 3.03s
720:	learn: 0.4269539	total: 7.8s	remaining: 3.02s
721:	learn: 0.4268236	total: 7.81s	remaining: 3.01s
722:	learn: 0.4265463	total: 7.82s	remaining: 3s
723:	learn: 0.4263670	total: 7.83s	remaining: 2.98s
724:	learn: 0.4262022	total: 7.84s	remaining: 2.97s
725:	learn: 0.4261011	total: 7.85s	remaining: 2.96s
726:	learn: 0.4259408	total: 7.86s	remaining: 2.95s
727:	learn: 0.4257720	total: 7.87s	remaining: 2.94s
728:	learn: 0.4256356	total: 7.88s	remaining: 2.93s
729:	learn: 0.4255421	total: 7.9s	remaining: 2.92s
730:	learn: 0.4252710	total: 7.91s	remaining: 2.91s
731:	learn: 0.4251650	total: 7.92s	remaining: 2.9s
732:	learn: 0.4248064	total: 7.93s	remaining: 2.89s
733:	learn: 0.4245653	total: 7.94s	remaining: 2.88s
734:	learn: 0.4244560	total: 7.96s	remaining: 2.87s
735:	learn: 0.4243325	total: 7.97s	remaining: 2.86s
736:	learn: 0.4241039	total: 7.98s	remaining: 2.85s
737:	learn: 0.4238841	total: 7.99s	remaining: 2.84s
738:	learn: 0.4238019	total: 8.01s	remaining: 2.83s
739:	learn: 0.4235353	total: 8.02s	remaining: 2.82s
740:	learn: 0.4233719	total: 8.03s	remaining: 2.81s
741:	learn: 0.4230536	total: 8.04s	remaining: 2.8s
742:	learn: 0.4229272	total: 8.05s	remaining: 2.79s
743:	learn: 0.4227958	total: 8.07s	remaining: 2.77s
744:	learn: 0.4226963	total: 8.08s	remaining: 2.77s
745:	learn: 0.4225601	total: 8.09s	remaining: 2.75s
746:	learn: 0.4223366	total: 8.1s	remaining: 2.74s
747:	learn: 0.4222170	total: 8.12s	remaining: 2.73s
748:	learn: 0.4219513	total: 8.13s	remaining: 2.72s
749:	learn: 0.4217919	total: 8.14s	remaining: 2.71s
750:	learn: 0.4216643	total: 8.15s	remaining: 2.7s
751:	learn: 0.4215255	total: 8.16s	remaining: 2.69s
752:	learn: 0.4213862	total: 8.18s	remaining: 2.68s
753:	learn: 0.4212539	total: 8.19s	remaining: 2.67s
754:	learn: 0.4211334	total: 8.2s	remaining: 2.66s
755:	learn: 0.4209237	total: 8.21s	remaining: 2.65s
756:	learn: 0.4208047	total: 8.22s	remaining: 2.64s
757:	learn: 0.4206218	total: 8.24s	remaining: 2.63s
758:	learn: 0.4204084	total: 8.25s	remaining: 2.62s
759:	learn: 0.4203370	total: 8.26s	remaining: 2.61s
760:	learn: 0.4201779	total: 8.27s	remaining: 2.6s
761:	learn: 0.4200916	total: 8.28s	remaining: 2.59s
762:	learn: 0.4198743	total: 8.29s	remaining: 2.58s
763:	learn: 0.4197385	total: 8.3s	remaining: 2.56s
764:	learn: 0.4195486	total: 8.31s	remaining: 2.55s
765:	learn: 0.4193769	total: 8.32s	remaining: 2.54s
766:	learn: 0.4192158	total: 8.33s	remaining: 2.53s
767:	learn: 0.4190878	total: 8.34s	remaining: 2.52s
768:	learn: 0.4190055	total: 8.36s	remaining: 2.51s
769:	learn: 0.4188061	total: 8.37s	remaining: 2.5s
770:	learn: 0.4187274	total: 8.38s	remaining: 2.49s
771:	learn: 0.4185348	total: 8.39s	remaining: 2.48s
772:	learn: 0.4183683	total: 8.4s	remaining: 2.47s
773:	learn: 0.4181518	total: 8.41s	remaining: 2.46s
774:	learn: 0.4179526	total: 8.42s	remaining: 2.44s
775:	learn: 0.4177900	total: 8.43s	remaining: 2.43s
776:	learn: 0.4177270	total: 8.44s	remaining: 2.42s
777:	learn: 0.4174109	total: 8.45s	remaining: 2.41s
778:	learn: 0.4172993	total: 8.46s	remaining: 2.4s
779:	learn: 0.4172001	total: 8.47s	remaining: 2.39s
780:	learn: 0.4170876	total: 8.48s	remaining: 2.38s
781:	learn: 0.4169519	total: 8.49s	remaining: 2.37s
782:	learn: 0.4167060	total: 8.51s	remaining: 2.36s
783:	learn: 0.4166015	total: 8.52s	remaining: 2.35s
784:	learn: 0.4164845	total: 8.53s	remaining: 2.33s
785:	learn: 0.4163760	total: 8.54s	remaining: 2.32s
786:	learn: 0.4162371	total: 8.55s	remaining: 2.31s
787:	learn: 0.4161807	total: 8.56s	remaining: 2.3s
788:	learn: 0.4159773	total: 8.57s	remaining: 2.29s
789:	learn: 0.4157839	total: 8.58s	remaining: 2.28s
790:	learn: 0.4155753	total: 8.59s	remaining: 2.27s
791:	learn: 0.4153948	total: 8.6s	remaining: 2.26s
792:	learn: 0.4152019	total: 8.61s	remaining: 2.25s
793:	learn: 0.4150101	total: 8.62s	remaining: 2.24s
794:	learn: 0.4148269	total: 8.63s	remaining: 2.23s
795:	learn: 0.4146797	total: 8.64s	remaining: 2.21s
796:	learn: 0.4145080	total: 8.66s	remaining: 2.2s
797:	learn: 0.4143653	total: 8.67s	remaining: 2.19s
798:	learn: 0.4142585	total: 8.68s	remaining: 2.18s
799:	learn: 0.4140077	total: 8.69s	remaining: 2.17s
800:	learn: 0.4138278	total: 8.7s	remaining: 2.16s
801:	learn: 0.4136917	total: 8.71s	remaining: 2.15s
802:	learn: 0.4135294	total: 8.72s	remaining: 2.14s
803:	learn: 0.4132637	total: 8.73s	remaining: 2.13s
804:	learn: 0.4131204	total: 8.74s	remaining: 2.12s
805:	learn: 0.4129990	total: 8.76s	remaining: 2.11s
806:	learn: 0.4128092	total: 8.77s	remaining: 2.1s
807:	learn: 0.4126950	total: 8.78s	remaining: 2.08s
808:	learn: 0.4124714	total: 8.79s	remaining: 2.08s
809:	learn: 0.4123125	total: 8.8s	remaining: 2.06s
810:	learn: 0.4122246	total: 8.81s	remaining: 2.05s
811:	learn: 0.4121079	total: 8.82s	remaining: 2.04s
812:	learn: 0.4118417	total: 8.83s	remaining: 2.03s
813:	learn: 0.4117437	total: 8.84s	remaining: 2.02s
814:	learn: 0.4115880	total: 8.86s	remaining: 2.01s
815:	learn: 0.4115102	total: 8.87s	remaining: 2s
816:	learn: 0.4113052	total: 8.88s	remaining: 1.99s
817:	learn: 0.4111364	total: 8.89s	remaining: 1.98s

818:	learn: 0.4109990	total: 8.9s	remaining: 1.97s
819:	learn: 0.4108591	total: 8.91s	remaining: 1.96s
820:	learn: 0.4107330	total: 8.93s	remaining: 1.95s
821:	learn: 0.4105885	total: 8.94s	remaining: 1.94s
822:	learn: 0.4104130	total: 8.95s	remaining: 1.93s
823:	learn: 0.4103024	total: 8.96s	remaining: 1.91s
824:	learn: 0.4101839	total: 8.98s	remaining: 1.9s
825:	learn: 0.4099897	total: 8.99s	remaining: 1.89s
826:	learn: 0.4098792	total: 9s	remaining: 1.88s
827:	learn: 0.4097684	total: 9.01s	remaining: 1.87s
828:	learn: 0.4095956	total: 9.02s	remaining: 1.86s
829:	learn: 0.4093927	total: 9.04s	remaining: 1.85s
830:	learn: 0.4091964	total: 9.05s	remaining: 1.84s
831:	learn: 0.4090715	total: 9.06s	remaining: 1.83s
832:	learn: 0.4089190	total: 9.07s	remaining: 1.82s
833:	learn: 0.4087792	total: 9.09s	remaining: 1.81s
834:	learn: 0.4085814	total: 9.1s	remaining: 1.8s
835:	learn: 0.4084308	total: 9.11s	remaining: 1.79s
836:	learn: 0.4082882	total: 9.13s	remaining: 1.78s
837:	learn: 0.4081508	total: 9.14s	remaining: 1.77s
838:	learn: 0.4080499	total: 9.15s	remaining: 1.76s
839:	learn: 0.4079394	total: 9.17s	remaining: 1.75s
840:	learn: 0.4077861	total: 9.18s	remaining: 1.74s
841:	learn: 0.4077042	total: 9.19s	remaining: 1.73s
842:	learn: 0.4074304	total: 9.21s	remaining: 1.71s
843:	learn: 0.4072768	total: 9.22s	remaining: 1.7s
844:	learn: 0.4071192	total: 9.23s	remaining: 1.69s
845:	learn: 0.4070079	total: 9.24s	remaining: 1.68s
846:	learn: 0.4067291	total: 9.25s	remaining: 1.67s
847:	learn: 0.4066142	total: 9.26s	remaining: 1.66s
848:	learn: 0.4064250	total: 9.27s	remaining: 1.65s
849:	learn: 0.4062241	total: 9.29s	remaining: 1.64s
850:	learn: 0.4059687	total: 9.29s	remaining: 1.63s
851:	learn: 0.4057916	total: 9.31s	remaining: 1.62s
852:	learn: 0.4056100	total: 9.32s	remaining: 1.6s
853:	learn: 0.4055759	total: 9.33s	remaining: 1.59s
854:	learn: 0.4054251	total: 9.34s	remaining: 1.58s
855:	learn: 0.4052962	total: 9.35s	remaining: 1.57s
856:	learn: 0.4051805	total: 9.36s	remaining: 1.56s
857:	learn: 0.4050541	total: 9.37s	remaining: 1.55s
858:	learn: 0.4049408	total: 9.38s	remaining: 1.54s
859:	learn: 0.4047801	total: 9.39s	remaining: 1.53s
860:	learn: 0.4046526	total: 9.4s	remaining: 1.52s
861:	learn: 0.4045572	total: 9.41s	remaining: 1.51s
862:	learn: 0.4044152	total: 9.42s	remaining: 1.5s
863:	learn: 0.4042779	total: 9.43s	remaining: 1.49s
864:	learn: 0.4040697	total: 9.45s	remaining: 1.47s
865:	learn: 0.4039967	total: 9.46s	remaining: 1.46s
866:	learn: 0.4039116	total: 9.47s	remaining: 1.45s
867:	learn: 0.4037977	total: 9.48s	remaining: 1.44s
868:	learn: 0.4035972	total: 9.49s	remaining: 1.43s
869:	learn: 0.4034340	total: 9.5s	remaining: 1.42s
870:	learn: 0.4032080	total: 9.51s	remaining: 1.41s
871:	learn: 0.4031257	total: 9.52s	remaining: 1.4s
872:	learn: 0.4030127	total: 9.53s	remaining: 1.39s
873:	learn: 0.4028641	total: 9.54s	remaining: 1.38s
874:	learn: 0.4027864	total: 9.55s	remaining: 1.36s
875:	learn: 0.4026335	total: 9.56s	remaining: 1.35s
876:	learn: 0.4025191	total: 9.57s	remaining: 1.34s
877:	learn: 0.4024920	total: 9.58s	remaining: 1.33s
878:	learn: 0.4023795	total: 9.59s	remaining: 1.32s
879:	learn: 0.4022390	total: 9.6s	remaining: 1.31s
880:	learn: 0.4020960	total: 9.61s	remaining: 1.3s
881:	learn: 0.4019815	total: 9.62s	remaining: 1.29s
882:	learn: 0.4018520	total: 9.63s	remaining: 1.28s
883:	learn: 0.4016500	total: 9.64s	remaining: 1.26s
884:	learn: 0.4015461	total: 9.65s	remaining: 1.25s
885:	learn: 0.4014417	total: 9.66s	remaining: 1.24s
886:	learn: 0.4013598	total: 9.68s	remaining: 1.23s
887:	learn: 0.4012315	total: 9.69s	remaining: 1.22s
888:	learn: 0.4010759	total: 9.7s	remaining: 1.21s
889:	learn: 0.4009391	total: 9.71s	remaining: 1.2s
890:	learn: 0.4008612	total: 9.72s	remaining: 1.19s
891:	learn: 0.4007182	total: 9.73s	remaining: 1.18s
892:	learn: 0.4006001	total: 9.74s	remaining: 1.17s
893:	learn: 0.4005299	total: 9.75s	remaining: 1.16s
894:	learn: 0.4003354	total: 9.76s	remaining: 1.15s
895:	learn: 0.4002195	total: 9.77s	remaining: 1.13s
896:	learn: 0.4000831	total: 9.78s	remaining: 1.12s
897:	learn: 0.3999033	total: 9.79s	remaining: 1.11s
898:	learn: 0.3997554	total: 9.8s	remaining: 1.1s
899:	learn: 0.3996110	total: 9.81s	remaining: 1.09s
900:	learn: 0.3994908	total: 9.83s	remaining: 1.08s
901:	learn: 0.3993237	total: 9.84s	remaining: 1.07s
902:	learn: 0.3992023	total: 9.85s	remaining: 1.06s
903:	learn: 0.3990066	total: 9.86s	remaining: 1.05s
904:	learn: 0.3989329	total: 9.87s	remaining: 1.04s
905:	learn: 0.3987447	total: 9.88s	remaining: 1.02s
906:	learn: 0.3986633	total: 9.9s	remaining: 1.01s
907:	learn: 0.3985362	total: 9.91s	remaining: 1s
908:	learn: 0.3984484	total: 9.92s	remaining: 993ms
909:	learn: 0.3983672	total: 9.93s	remaining: 982ms
910:	learn: 0.3981986	total: 9.95s	remaining: 972ms
911:	learn: 0.3980820	total: 9.96s	remaining: 961ms
912:	learn: 0.3979993	total: 9.97s	remaining: 950ms
913:	learn: 0.3978927	total: 9.98s	remaining: 939ms
914:	learn: 0.3977939	total: 9.99s	remaining: 928ms
915:	learn: 0.3976804	total: 10s	remaining: 918ms
916:	learn: 0.3975508	total: 10s	remaining: 907ms
917:	learn: 0.3974383	total: 10s	remaining: 896ms
918:	learn: 0.3973135	total: 10s	remaining: 885ms
919:	learn: 0.3971994	total: 10.1s	remaining: 874ms
920:	learn: 0.3970787	total: 10.1s	remaining: 863ms
921:	learn: 0.3969835	total: 10.1s	remaining: 853ms
922:	learn: 0.3968149	total: 10.1s	remaining: 842ms
923:	learn: 0.3967615	total: 10.1s	remaining: 831ms
924:	learn: 0.3965818	total: 10.1s	remaining: 820ms
925:	learn: 0.3964663	total: 10.1s	remaining: 809ms
926:	learn: 0.3963405	total: 10.1s	remaining: 799ms
927:	learn: 0.3962023	total: 10.2s	remaining: 788ms
928:	learn: 0.3960822	total: 10.2s	remaining: 777ms
929:	learn: 0.3959473	total: 10.2s	remaining: 766ms
930:	learn: 0.3958082	total: 10.2s	remaining: 755ms
931:	learn: 0.3956411	total: 10.2s	remaining: 744ms
932:	learn: 0.3953980	total: 10.2s	remaining: 733ms
933:	learn: 0.3952554	total: 10.2s	remaining: 723ms
934:	learn: 0.3951630	total: 10.2s	remaining: 712ms
935:	learn: 0.3950577	total: 10.2s	remaining: 701ms
936:	learn: 0.3948919	total: 10.3s	remaining: 690ms
937:	learn: 0.3947086	total: 10.3s	remaining: 679ms
938:	learn: 0.3945945	total: 10.3s	remaining: 668ms
939:	learn: 0.3944334	total: 10.3s	remaining: 657ms
940:	learn: 0.3942953	total: 10.3s	remaining: 646ms
941:	learn: 0.3941786	total: 10.3s	remaining: 635ms
942:	learn: 0.3939480	total: 10.3s	remaining: 624ms
943:	learn: 0.3938550	total: 10.3s	remaining: 613ms
944:	learn: 0.3936568	total: 10.3s	remaining: 602ms
945:	learn: 0.3935398	total: 10.4s	remaining: 592ms
946:	learn: 0.3934697	total: 10.4s	remaining: 581ms
947:	learn: 0.3934478	total: 10.4s	remaining: 570ms
948:	learn: 0.3932949	total: 10.4s	remaining: 559ms
949:	learn: 0.3931381	total: 10.4s	remaining: 548ms
950:	learn: 0.3930619	total: 10.4s	remaining: 537ms
951:	learn: 0.3929577	total: 10.4s	remaining: 526ms
952:	learn: 0.3928589	total: 10.4s	remaining: 515ms
953:	learn: 0.3927487	total: 10.5s	remaining: 504ms
954:	learn: 0.3926552	total: 10.5s	remaining: 493ms
955:	learn: 0.3925613	total: 10.5s	remaining: 482ms
956:	learn: 0.3925255	total: 10.5s	remaining: 471ms
957:	learn: 0.3924527	total: 10.5s	remaining: 460ms
958:	learn: 0.3922640	total: 10.5s	remaining: 449ms
959:	learn: 0.3921645	total: 10.5s	remaining: 438ms
960:	learn: 0.3920949	total: 10.5s	remaining: 427ms
961:	learn: 0.3919609	total: 10.5s	remaining: 416ms
962:	learn: 0.3917687	total: 10.6s	remaining: 405ms
963:	learn: 0.3916843	total: 10.6s	remaining: 394ms
964:	learn: 0.3915284	total: 10.6s	remaining: 384ms
965:	learn: 0.3913550	total: 10.6s	remaining: 373ms
966:	learn: 0.3912233	total: 10.6s	remaining: 362ms
967:	learn: 0.3911977	total: 10.6s	remaining: 351ms
968:	learn: 0.3910962	total: 10.6s	remaining: 340ms
969:	learn: 0.3909985	total: 10.6s	remaining: 329ms
970:	learn: 0.3907503	total: 10.6s	remaining: 318ms
971:	learn: 0.3905745	total: 10.6s	remaining: 307ms
972:	learn: 0.3903921	total: 10.7s	remaining: 296ms
973:	learn: 0.3902950	total: 10.7s	remaining: 285ms
974:	learn: 0.3901793	total: 10.7s	remaining: 274ms
975:	learn: 0.3900796	total: 10.7s	remaining: 263ms
976:	learn: 0.3899759	total: 10.7s	remaining: 252ms
977:	learn: 0.3898807	total: 10.7s	remaining: 241ms
978:	learn: 0.3896974	total: 10.7s	remaining: 230ms
979:	learn: 0.3895919	total: 10.7s	remaining: 219ms
980:	learn: 0.3894734	total: 10.7s	remaining: 208ms
981:	learn: 0.3892744	total: 10.8s	remaining: 197ms
982:	learn: 0.3890445	total: 10.8s	remaining: 186ms
983:	learn: 0.3888537	total: 10.8s	remaining: 175ms
984:	learn: 0.3887413	total: 10.8s	remaining: 164ms
985:	learn: 0.3885974	total: 10.8s	remaining: 153ms
986:	learn: 0.3883649	total: 10.8s	remaining: 142ms
987:	learn: 0.3882819	total: 10.8s	remaining: 131ms
988:	learn: 0.3881231	total: 10.8s	remaining: 120ms
989:	learn: 0.3879756	total: 10.8s	remaining: 110ms

990:	learn: 0.3878808	total: 10.9s	remaining: 98.6ms
991:	learn: 0.3877365	total: 10.9s	remaining: 87.7ms
992:	learn: 0.3876531	total: 10.9s	remaining: 76.7ms
993:	learn: 0.3875434	total: 10.9s	remaining: 65.8ms
994:	learn: 0.3873487	total: 10.9s	remaining: 54.8ms
995:	learn: 0.3872745	total: 10.9s	remaining: 43.8ms
996:	learn: 0.3871699	total: 10.9s	remaining: 32.9ms
997:	learn: 0.3870267	total: 10.9s	remaining: 21.9ms
998:	learn: 0.3868749	total: 11s	remaining: 11ms
999:	learn: 0.3866299	total: 11s	remaining: 0us
CatBoostClassifier has been trained and tested 😀

{'RandomForestClassifier': {0: {'train_time': 2.5260400772094727,
   'test_time': 0.05900216102600098,
   'f1_score': 0.3440453686200378}},
 'GradientBoostingClassifier': {1: {'train_time': 4.251007080078125,
   'test_time': 0.01562666893005371,
   'f1_score': 0.28411633109619683}},
 'XGBClassifier': {2: {'train_time': 1.2643840312957764,
   'test_time': 0.015621662139892578,
   'f1_score': 0.3306836248012719}},
 'AdaBoostClassifier': {3: {'train_time': 1.2189178466796875,
   'test_time': 0.032750844955444336,
   'f1_score': 0.2763873775843308}},
 'CatBoostClassifier': {4: {'train_time': 11.638415098190308,
   'test_time': 0.0050029754638671875,
   'f1_score': 0.3157894736842105}}}

In [173]:
# from sklearn.ensemble import VotingClassifier

# estimator_list = [
#     ('xg', clf_F),
#     ('ada', clf_H),
#     ('cat', clf_O) 
# ]
# voting_model = VotingClassifier(estimators=estimator_list, voting='soft')
# voting_model.fit(X_train, y_train)

# predictions = voting_model.predict(X_test)
# print('f1-score: {}'.format(f1_score(y_test, predictions)))

In [174]:
from catboost import CatBoostClassifier
params = {
    'loss_function': 'CrossEntropy',# objective function
   # 'loss_function' :'Logloss',
    'iterations': 10000,
   # 'custom_loss': 'F1',
    'learning_rate': 0.02286071,
    'eval_metric':'F1', # metric,
    #'task_type':'GPU',
    #'border_count':32,
    'early_stopping_rounds':200,
    'verbose': 200, # output to stdout info about training process every 200 iterations
   # 'random_seed': SEED
    
}

cat = CatBoostClassifier(**params)
cat.fit(X_train, y_train)

predictions = cat.predict(X_test)
f1_s = f1_score(y_test, predictions)
f1_s

0:	learn: 0.5650409	total: 12.9ms	remaining: 2m 9s
200:	learn: 0.6938284	total: 2.33s	remaining: 1m 53s
400:	learn: 0.7457382	total: 4.61s	remaining: 1m 50s
600:	learn: 0.7818551	total: 6.94s	remaining: 1m 48s
800:	learn: 0.8084046	total: 9.22s	remaining: 1m 45s
1000:	learn: 0.8279865	total: 11.5s	remaining: 1m 43s
1200:	learn: 0.8481446	total: 13.9s	remaining: 1m 41s
1400:	learn: 0.8616630	total: 16.2s	remaining: 1m 39s
1600:	learn: 0.8702567	total: 18.6s	remaining: 1m 37s
1800:	learn: 0.8778927	total: 21s	remaining: 1m 35s
2000:	learn: 0.8872204	total: 23.4s	remaining: 1m 33s
2200:	learn: 0.8945184	total: 25.7s	remaining: 1m 31s
2400:	learn: 0.9000530	total: 28.1s	remaining: 1m 28s
2600:	learn: 0.9052665	total: 30.4s	remaining: 1m 26s
2800:	learn: 0.9072351	total: 33s	remaining: 1m 24s
3000:	learn: 0.9109163	total: 35.4s	remaining: 1m 22s
3200:	learn: 0.9142221	total: 37.9s	remaining: 1m 20s
3400:	learn: 0.9173076	total: 40.3s	remaining: 1m 18s
3600:	learn: 0.9193548	total: 42.6s	remaining: 1m 15s
3800:	learn: 0.9222052	total: 45.1s	remaining: 1m 13s
4000:	learn: 0.9248267	total: 47.5s	remaining: 1m 11s
4200:	learn: 0.9270150	total: 50s	remaining: 1m 8s
4400:	learn: 0.9297160	total: 52.4s	remaining: 1m 6s
4600:	learn: 0.9309560	total: 54.9s	remaining: 1m 4s
4800:	learn: 0.9328398	total: 57.5s	remaining: 1m 2s
5000:	learn: 0.9336154	total: 1m	remaining: 1m
5200:	learn: 0.9344271	total: 1m 2s	remaining: 57.8s
5400:	learn: 0.9355010	total: 1m 5s	remaining: 55.6s
5600:	learn: 0.9361950	total: 1m 8s	remaining: 53.7s
5800:	learn: 0.9372713	total: 1m 12s	remaining: 52.2s
6000:	learn: 0.9390179	total: 1m 14s	remaining: 49.8s
6200:	learn: 0.9394614	total: 1m 17s	remaining: 47.7s
6400:	learn: 0.9404472	total: 1m 20s	remaining: 45.2s
6600:	learn: 0.9407710	total: 1m 23s	remaining: 42.8s
6800:	learn: 0.9417197	total: 1m 25s	remaining: 40.4s
7000:	learn: 0.9422199	total: 1m 28s	remaining: 37.9s
7200:	learn: 0.9424701	total: 1m 30s	remaining: 35.3s
7400:	learn: 0.9430013	total: 1m 33s	remaining: 32.8s
7600:	learn: 0.9432017	total: 1m 36s	remaining: 30.3s
7800:	learn: 0.9435527	total: 1m 38s	remaining: 27.8s
8000:	learn: 0.9438895	total: 1m 41s	remaining: 25.3s
8200:	learn: 0.9448133	total: 1m 43s	remaining: 22.7s
8400:	learn: 0.9452615	total: 1m 46s	remaining: 20.2s
8600:	learn: 0.9456129	total: 1m 48s	remaining: 17.7s
8800:	learn: 0.9457307	total: 1m 51s	remaining: 15.2s
9000:	learn: 0.9460938	total: 1m 53s	remaining: 12.6s
9200:	learn: 0.9462788	total: 1m 56s	remaining: 10.1s
9400:	learn: 0.9464570	total: 1m 58s	remaining: 7.58s
9600:	learn: 0.9469435	total: 2m 1s	remaining: 5.05s
9800:	learn: 0.9471672	total: 2m 3s	remaining: 2.52s
9999:	learn: 0.9474691	total: 2m 6s	remaining: 0us

0.35546875

In [177]:
subfile = pd.DataFrame(df_test['ID'])
subfile['target'] = cat.predict(testing_df).astype('int64')

In [178]:
subfile['target'].value_counts()

0    1128
1      74
Name: target, dtype: int64

In [179]:
subfile.to_csv('penta.csv', index=False)